<div class="container">
  <app-header></app-header>
  <h2>Faang protocols
    <button type="button" class="btn btn-info" aria-label="Left Align" [ngClass]="{'active' : samplesActive}"
            (click)="onClick()">
      Samples
      <span [ngClass]="samplesClass" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-info" aria-label="Left Align" [ngClass]="{'active' : experimentsActive}"
            (click)="onClick()">
      Experiments
      <span [ngClass]="experimentsClass" aria-hidden="true"></span>
    </button>
  </h2>
  <app-protocol-samples *ngIf="activeComponent === 'samples'"></app-protocol-samples>
  <app-protocol-experiments *ngIf="activeComponent === 'experiments'"></app-protocol-experiments>
</div>
