.ontology-input {
    min-height: 200px;
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    border-radius: 3px;
    padding: 5px;
}

textarea:focus {
    box-shadow: 0 0 8px 0px rgb(0 0 0 / 30%);
    outline: 0;
    border: 0;
}

.table-header {
    background-color: rgba(0, 0, 0, 0.07);
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.table-cell-data {
    font-size: 16px;
}

.color-status {
    border-radius: 20px;
    border-width: 7px;
    padding: 3px;
    margin-right: 10px;
}

.table-color-status {
    border-radius: 7px;
    cursor: default;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tags {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1px 7px 1px 5px;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    margin: 5px 10px 10px 0;
}

.beta-tag {
    margin-left: 8px;
    cursor: default;
}

:host ::ng-deep .mat-tab-body-content {
    padding: 10px 20px 10px 20px;
}

.userComments{
  font-style: oblique;
  color: #777572;
}
