.section{
  margin-top: 10px
}
.icon-style {
  display: flex;
  align-items: center;
}
.user-info{
  font-style: italic;
  color: rgba(0,0,0,.5);
  margin: 10px 0px;
}
.user-info span{
  display: block;
}
.user-info span.indented-text{
  margin-left: 10px;
}
