table {
  font-size: 14px;
}

a {
  color: steelblue;
}

.table-header {
  background-color: rgba(0, 0, 0, 0.07);
  font-size: 14px;
  color: black;
  font-weight: 600;
}

.table-cell-data {
  padding-right: 12px !important;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 10px;
}

.projectNamesTitle{
  font-size: 70%;
  color: #5199a8;
}
