button {
  margin-left: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}

i {
  margin-left: 5px;
}

dl {
  font-size: 14px;
}

a {
  color: steelblue;
}

table {
  font-size: 14px;
}

.left {
  border-right: 1px solid lightgrey;
}

.rule-condition-header {
  color: grey;
  font-size: 14px;
  font-weight: 700;
}

.rule-condition {
  color: grey;
  font-size: 14px;
}

.center {
  overflow: scroll;
}

.active {
  background-color: #477AAF;;
}

.active a {
  color: white;
}

button a {
  color: white;
}

.card {
  margin-top: 15px;
}

.table-header {
  background-color: rgba(0, 0, 0, 0.07);
  font-size: 14px;
  color: black;
  font-weight: 600;
  padding: 6px !important;
}

.table-cell-data {
  padding: 6px !important;
  max-width: 150px;
  min-width: 50px;
  overflow-wrap: break-word;
}

td.mat-cell:first-of-type, 
td.mat-footer-cell:first-of-type, 
th.mat-header-cell:first-of-type {
  padding-left: 10px;
}
