.select-fields-and-filters-form-container{
    margin-bottom: 4vw;
}

.select-fields-and-filters-controls-row{
    display:flex;
}

.select-fields-and-filters-controls-row-item{
    align-self:center;
    flex-basis: 0;
    flex-grow: 1;
}

.select-fields-and-filters-tab-group{
    height: 30vh;
}