button {
  margin-left: 5px;
  font-size: 14px;
}

i {
  margin-left: 5px;
}

dl {
  font-size: 14px;
}

a {
  color: steelblue;
}

table {
  font-size: 14px;
}

.left {
  border-right: 1px solid lightgrey;
}

p {
  color: steelblue;
  cursor: pointer;
}

.center {
  max-height: 400px;
  overflow: scroll;
}

.active {
  background-color: #477AAF;;
}

.active a {
  color: white;
}
