<div *ngIf="get_displayed_fields()?.length > 0 && records && records.length > 0">
  <!--<div *ngIf="get_field_names().length > 0 specimenList?.hits.total > 0">&ndash;&gt;-->

  <hr>
  <h3>
    Related
    <ng-container *ngIf="target_type == 'analysis'">Analyses </ng-container>
    <ng-container *ngIf="target_type != 'analysis'">{{capitalizeFirstLetter(target_type)}}s </ng-container>
    <button type="button" class="btn btn-success" (click)="downloadAllFiles()" [disabled]="disableButton()"
            *ngIf="showButton()">Download all files ({{getUrlsLength()}})</button>
  </h3>
  <table class="table table-striped table-hover table-responsive">
    <thead>
    <tr>
      <ng-container *ngFor="let field of get_displayed_fields()">
        <th>{{field}}</th>
      </ng-container>
      <th *ngIf="download_key.length>0">
        <mat-checkbox (change)="mainCheckboxClicked()" [indeterminate]="mainCheckboxChecked() == 1"
                      [checked]="mainCheckboxChecked() == 2">Download</mat-checkbox>
<!--        <input type="checkbox" [checked]="mainCheckboxChecked() == 2" (click)="mainCheckboxClicked()">-->
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let record of records |  paginate: { itemsPerPage: 10, currentPage: p, id: target_type }">
      <tr>
      <ng-container *ngFor="let attr of get_displayed_fields()">
        <td>
          <span *ngIf="get_field_values_for_links(attr); else plainBlock">
            <app-robust-link [prefix]="get_field_values_for_links(attr)['prefix']"
                             [link]="getValue(record, get_field_values_for_links(attr)['url'])"
                             [text]="getValue(record, get_attr(attr))">
            </app-robust-link>
          </span>
          <ng-template #plainBlock>
            {{getValue(record, get_attr(attr))}}
          </ng-template>
        </td>
      </ng-container>
        <td *ngIf="download_key.length>0">
<!--          <mat-checkbox (change)="onCheckboxClick(get(record,download_key))"-->
<!--                        [checked]="CheckboxChecked(get(record,download_key))"></mat-checkbox>-->
          <input type="checkbox" (click)="onCheckboxClick(getValue(record,download_key))"
                 [checked]="CheckboxChecked(getValue(record, download_key))">
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" [id]="target_type" ></pagination-controls>
</div>
