.hide-column {
  display: none;
}

table {
  font-size: 14px;
}

button {
  margin-left: 10px;
}

input {
  margin-left: 5px;
}

.inner-input {
  margin-right: 5px;
}

.lock {
  margin-left: 5px;
}

a {
  color: steelblue;
}

.pipeline-platform-logo {
  max-width:90px;
  max-height:50px;
  width:auto;
  height:auto;
}

.childproj-title {
  color: #6f6f71;
}
.subheader {
  color: #6f6f71;
  font-size: small;
}
