<div [hidden]="display_fields.length == 0 || !records || records.length == 0">
  <hr>
  <!-- <div ngbDropdown placement="bottom-right">
    <h3>
      <button type="button" class="btn btn-success btn-sm" (click)="downloadAllFiles()" [disabled]="disableButton()"
              *ngIf="showButton()">Download all files ({{getUrlsLength()}})
      </button>
    </h3>
  </div> -->
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
    style="margin: 20px 0 20px 0;">
    <h3>Related
      <ng-container *ngIf="target_type == 'analysis'">Analyses</ng-container>
      <ng-container *ngIf="target_type != 'analysis'">{{capitalizeFirstLetter(target_type)}}s
        <span *ngIf="isEuroFaangProj"> for 
          <span class="childproj-title">
            {{record_id}}
          </span>
        </span>
      </ng-container>
    </h3>
    <button mat-raised-button color="primary" (click)=select.open()>Column Selection
      <mat-icon>arrow_drop_down</mat-icon>
      <mat-select [(value)]="display_fields" multiple #select style="width:0">
        <mat-option *ngFor="let col of get_all_fields(); let i = index" 
          [value]="col" [disabled]="i==0"> {{col}}
        </mat-option>
      </mat-select>
    </button>
  </div>

  <div class="table-responsive">
    <!-- <table class="table table-striped table-hover table-borderless table-sm">
      <thead>
      <tr>
        <ng-container *ngFor="let field of get_all_fields()">
          <th [ngClass]="{'hide-column': !isDisplayed(field)}">{{field}}</th>
        </ng-container>
        <th *ngIf="download_key.length>0">
          <label for="mainBox">Download </label>
          <input id="mainBox" type="checkbox" [checked]="mainCheckboxChecked() == 2"
                 [indeterminate]="mainCheckboxChecked() == 1" (click)="mainCheckboxClicked()">
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let record of records |  paginate: { itemsPerPage: 10, currentPage: p, id: paginate_id }">
        <tr>
          <ng-container *ngFor="let attr of get_displayed_fields()">
            <td>
              <span *ngIf="get_field_values_for_links(attr); else plainBlock">
                <ng-container *ngIf="!isRecordPrivate(record)">
                  <app-robust-link [prefix]="get_field_values_for_links(attr)['prefix']"
                                   [link]="getValue(record, get_field_values_for_links(attr)['url'])"
                                   [text]="getValue(record, get_attr(attr))">

                </app-robust-link>
                </ng-container>
                <ng-container *ngIf="source_type === 'project' && target_type === 'organism' && isRecordPrivate(record)">
                  <a [routerLink]="['/organism', getValue(record, get_attr(attr))]">
                    {{getValue(record, get_attr(attr))}}
                  </a>
                  <i class="material-icons lock">lock</i>
                </ng-container>
                <ng-container *ngIf="source_type === 'project' && target_type === 'specimen' && isRecordPrivate(record)">
                  <a [routerLink]="['/specimen', getValue(record, get_attr(attr))]">
                    {{getValue(record, get_attr(attr))}}
                  </a>
                  <i class="material-icons lock">lock</i>
                </ng-container>
                <ng-container *ngIf="source_type === 'organism' && target_type === 'specimen' && isRecordPrivate(record)">
                  <a [routerLink]="['/specimen', getValue(record, get_attr(attr))]">
                    {{getValue(record, get_attr(attr))}}
                  </a>
                  <i class="material-icons lock">lock</i>
                </ng-container>
                <ng-container *ngIf="source_type === 'project' && target_type === 'file' && isRecordPrivate(record)">
                  <a [routerLink]="['/file', record['fileId']]">{{record['name']}}</a>
                  <i class="material-icons lock">lock</i>
                </ng-container>
                <ng-container *ngIf="source_type === 'project' && target_type === 'dataset' && isRecordPrivate(record)">
                  <a [routerLink]="['/dataset', record['datasetAccession']]">{{record['datasetAccession']}}</a>
                  <i class="material-icons lock">lock</i>
                </ng-container>
              </span>
              <ng-template #plainBlock>
                <ng-container *ngIf="!displayPlatformLogo(record, attr); else platformLogo">
                  {{getValue(record, get_attr(attr))}}
                </ng-container>
                <ng-template #platformLogo>
                  <img src="assets/logos/nf-core-logo.png" class="img-fluid pipeline-platform-logo" alt="nf-core">
                </ng-template>
              </ng-template>
            </td>
          </ng-container>
          <td *ngIf="download_key.length>0">
            <input type="checkbox" (click)="onCheckboxClick(getValue(record,download_key))"
                   [checked]="CheckboxChecked(getValue(record, download_key))">
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" [id]="paginate_id"></pagination-controls> -->
  
    <table mat-table matSort matSortDisableClear [dataSource]="dataSource" table-striped style="width: 100%">
      <ng-container [matColumnDef]=col *ngFor="let col of display_fields; let i = index">
        <th mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header> {{display_fields[i]}} </th>
        <ng-container *ngIf="!get_field_values_for_links(col)">
          <td mat-cell class="table-cell-data" *matCellDef="let item"> {{item[col]}} </td>
        </ng-container>
        <ng-container *ngIf="get_field_values_for_links(col)">
          <td mat-cell class="table-cell-data" *matCellDef="let item"> 
            <app-robust-link [prefix]="get_field_values_for_links(col)['prefix']"
              [link]="item[get_field_values_for_links(col)['url']]"
              [text]="item[col]">
            </app-robust-link>
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="display_fields"></tr>
      <tr mat-row *matRowDef="let row; columns: display_fields;"></tr>
    </table>
    <mat-paginator pageSize="10"></mat-paginator>
  
  </div>
</div>
