<div class="container" style="min-height:87vh">
  <app-header></app-header>
  <h2>AQUA-FAANG</h2>

  <div class="row first-row">
    <div class="col-md-6">
      <img src="https://raw.githubusercontent.com/FAANG/comm-data-portal-projects/master/projects/aquafaang/project-logo.png" alt="Project Logo" class="project-logo">
      <h3>
        <a href="https://www.aqua-faang.eu/">https://www.aqua-faang.eu/</a>
      </h3>
    </div>
    <div class="col-md-6 text-center">
      <img src="../../../assets/funding_logo.png" alt="Funding Logo" class="funding-logo">
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <h5>
        Coming soon...
      </h5>
    </div>
    <div class="col-md-8 text-center">
      <a class="twitter-timeline" href="https://twitter.com/AQUA_FAANG?ref_src=twsrc%5Etfw"
         data-height="250"
         data-theme="light"
         data-width="650"
         data-chrome="noborders nofooter noheader noscrollbar transparent">Tweets by AQUA_FAANG</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <app-related-items source_type="project" target_type="paper" download_key="" [record_id]=""></app-related-items>
  <app-related-items source_type="project" target_type="specimen" download_key="" [record_id]=""></app-related-items>
  <app-related-items source_type="project" target_type="file" download_key="" [record_id]=""></app-related-items>
</div>
