<app-header></app-header>
<div class="container-fluid">
  <h2>FAANG Data Join</h2>
  <hr>
  <app-select-indices 
    [firstIndexName]="firstIndexName" 
    [secondIndexName]="secondIndexName"
    (firstIndexChange)="updateIndexFieldsAndFilters('firstIndex')"
    (secondIndexChange)="updateIndexFieldsAndFilters('secondIndex')"
  ></app-select-indices>
  <app-select-fields-and-filters 
    [firstIndexName]="firstIndexName"
    [firstIndexFieldsAndFilters]="firstIndexFieldsAndFilters"
    [secondIndexName]="secondIndexName"
    [secondIndexFieldsAndFilters]="secondIndexFieldsAndFilters"
    >
  </app-select-fields-and-filters>


</div>