<app-header></app-header>
<div class="container-fluid">
  <h2>FAANG Data Join</h2>
  <hr>
  <app-select-indices 
    [firstIndexName]="firstIndexName" 
    [secondIndexName]="secondIndexName"
    (firstIndexChange)="updateIndexFieldsAndFilters('firstIndex')"
    (secondIndexChange)="updateIndexFieldsAndFilters('secondIndex')"
  ></app-select-indices>
  <div *ngIf="firstIndexName.value && secondIndexName.value" (mouseover)="updateGraphQLQuery()">
    <app-select-fields-and-filters 
        [firstIndexName]="firstIndexName"
        [firstIndexFieldsAndFilters]="firstIndexFieldsAndFilters"
        [secondIndexName]="secondIndexName"
        [secondIndexFieldsAndFilters]="secondIndexFieldsAndFilters"
        (graphQLQueryChange)="updateGraphQLQuery()"
    >
    </app-select-fields-and-filters>
    <app-graphql-fetched-data 
      [assignTaskWithFiltersQuery]="assignTaskWithFiltersQuery"
      [fetchFromTaskWithSelectedFieldsQuery]="fetchFromTaskWithSelectedFieldsQuery"
    ></app-graphql-fetched-data>
  </div>
</div>