<div class="container">
<faang-navbar></faang-navbar>
<api-error></api-error>
<h1 class="text-center">{{biosampleId}}</h1>
<api-slow-response></api-slow-response>
<dl class="dl-horizontal">
  <dt>Name</dt><dd>{{specimen?.name}}</dd>
  <dt>BioSample ID</dt><dd>{{specimen?.biosampleId}}</dd>
  <dt>Sex</dt><dd>{{specimen?.organism?.sex[0]?.text}}</dd>
  <dt>Organism</dt><dd><a href="{{specimen?.organism?.organism[0]?.ontologyTerms}}" target="_blank">{{specimen?.organism?.organism[0]?.text}}</a></dd>
  <dt>Breed</dt><dd><a href="{{specimen?.organism?.breed[0]?.ontologyTerms}}" targe="_blank">{{specimen?.organism?.breed[0]?.text}}</a></dd>
</dl>
<specimen-files></specimen-files>
</div>


