<div class="container">
  <app-header></app-header>
  <ng-container *ngIf="organism">
  <h1 class="text-center">{{biosampleId}}</h1>
  <dl class="dl-horizontal">

    <ng-container *ngIf="organism && organism.hasOwnProperty('name')">
      <dt>Name:</dt> <dd>{{organism?.name}}</dd>
    </ng-container>

    <ng-container *ngIf="organism && organism.hasOwnProperty('biosampleId')">
      <dt>BioSample ID:</dt>
      <dd>
        <a href="http://www.ebi.ac.uk/biosamples/samples/{{organism?.biosampleId}}">{{organism?.biosampleId}}</a>
      </dd>
    </ng-container>

    <ng-container *ngIf="organism && organism.hasOwnProperty('alternativeId') && organism.alternativeId.length !== 0">
      <dt>Alternative ID:</dt>
      <dd>{{organism.alternativeId.toString()}}</dd>
    </ng-container>

    <ng-container *ngIf="organism && organism.hasOwnProperty('releaseDate')">
      <dt>Release date:</dt> <dd>{{organism?.releaseDate}}</dd>
    </ng-container>

    <ng-container *ngIf="organism && organism.hasOwnProperty('updateDate')">
      <dt>Update date:</dt> <dd>{{organism?.updateDate}}</dd>
    </ng-container>

    <ng-container *ngIf="organism && organism.hasOwnProperty('sex')">
      <dt>Sex:</dt>
      <dd>
        <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?id=" [link]="organism?.sex?.ontologyTerms" [text]="organism?.sex?.text"></app-robust-link>
      </dd>
    </ng-container>

    <ng-container *ngIf="organism && organism.hasOwnProperty('organism')">
      <dt>Organism:</dt>
      <dd>
        <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?id=" [link]="organism?.organism?.ontologyTerms" [text]="organism?.organism?.text"></app-robust-link>
      </dd>
    </ng-container>

    <ng-container *ngIf="organism && organism.hasOwnProperty('breed')">
      <dt>Breed:</dt>
      <dd>
        <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="organism?.breed.ontologyTerms" [text]="organism?.breed?.text"></app-robust-link>
      </dd>
    </ng-container>

    <dt>Material:</dt>
    <dd>
      <a href="https://www.ebi.ac.uk/ols/terms?iri=http://purl.obolibrary.org/obo/UBERON_0000468" target="_blank">organism</a>
    </dd>

    <ng-container  *ngIf="organism && organism.hasOwnProperty('standardMet')">
      <dt>Standard met:</dt> <dd>{{organism?.standardMet}}</dd>
    </ng-container>

    <ng-container  *ngIf="organism && organism.hasOwnProperty('project')">
      <dt>Project:</dt> <dd>{{organism?.project}}</dd>
    </ng-container>

    <div *ngIf="organism?.availability">
      <dt>Availability:</dt> <dd><a href={{organism?.availability}}>{{dealWithAvailability(organism?.availability)}}</a></dd>
    </div>

    <ng-container  *ngIf="organism && organism.hasOwnProperty('organization')">
      <dt>Organisation:</dt>
      <dd>
        <ng-container *ngFor="let organization of organism?.organization;">
          <app-robust-link [link]="organization.URL" [text]="organization.name"></app-robust-link> ( {{organization.role}})
        </ng-container>
      </dd>
    </ng-container>

    <div *ngIf="organism?.description">
      <dt>Description:</dt> <dd>{{organism?.description}}</dd>
    </div>

    <div *ngIf="organism?.birthDate?.text">
      <dt>Birth date:</dt> <dd>{{organism?.birthDate?.text}}</dd>
    </div>

    <div *ngIf="organism?.birthLocation">
      <dt>Birth location:</dt> <dd>{{organism?.birthLocation}}</dd>
    </div>

    <div *ngIf="organism?.birthLocationLongitude?.text">
      <dt>Birth longitude:</dt> <dd>{{organism?.birthLocationLongitude?.text}} {{organism?.birthLocationLongitude.unit}}</dd>
    </div>

    <div *ngIf="organism?.birthLocationLatitude?.text">
      <dt>Birth latitude:</dt> <dd>{{organism?.birthLocationLatitude?.text}} {{organism?.birthLocationLatitude?.unit}}</dd>
    </div>

    <div *ngIf="organism?.birthWeight?.text">
      <dt>Birth weight:</dt> <dd>{{organism?.birthWeight?.text}} {{organism?.birthWeight?.unit}}</dd>
    </div>

    <div *ngIf="organism?.placentalWeight?.text">
      <dt>Placental weight:</dt> <dd>{{organism?.placentalWeight?.text}} {{organism?.placentalWeight?.unit}}</dd>
    </div>

    <div *ngIf="organism?.pregnancyLength?.text">
      <dt>Pregnancy length:</dt> <dd>{{organism?.pregnancyLength?.text}} {{organism?.pregnancyLength?.unit}}</dd>
    </div>

    <div *ngIf="organism?.deliveryTiming">
      <dt>Delivery timing:</dt> <dd>{{organism?.deliveryTiming}}</dd>
    </div>

    <div *ngIf="organism?.deliveryEase">
      <dt>Delivery ease:</dt> <dd>{{organism?.deliveryEase}}</dd>
    </div>

    <div *ngIf="organism?.sameAs">
      <dt>Same as:</dt> <dd>{{organism?.sameAs}}</dd>
    </div>

    <div *ngIf="organism?.childOf">
      <dt>Child of:</dt>
      <dd>
        <ng-container *ngFor="let child of organism?.childOf;">
          <app-robust-link prefix="../organism/" [link]="child" [text]="child"></app-robust-link>
        </ng-container>
      </dd>
    </div>

    <div *ngIf="organism?.pedigree">
      <dt>Pedigree:</dt> <dd><a href={{organism?.pedigree}}>{{organism?.pedigree}}</a></dd>
    </div>

    <div *ngIf="organism?.customField?.length > 0;">
      <ng-container *ngFor="let field of organism?.customField;">
        <dt>{{field.name}}:</dt>
        <dd>
          <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?id=" [link]="field.ontologyTerms" [text]="field.value"></app-robust-link>  {{field?.unit}}
        </dd>
      </ng-container>
    </div>
  </dl>

    <app-related-items source_type="organism" target_type="paper"
                       download_key="" [record_id]="biosampleId"></app-related-items>
    <app-related-items source_type="organism" target_type="specimen"
                       download_key="" [record_id]="biosampleId"></app-related-items>
  </ng-container>
  <div class="alert alert-danger" *ngIf="error"><p>{{ error }}</p></div>
</div>
