<app-header></app-header>
<div class="container-fluid">
  <h2>FAANG Publications</h2>
  <hr>
  <h3 fxLayout="row" fxLayoutGap="2%" *ngIf="hasActiveFilters()">
    <div fxFlex="20"></div>
    <div fxFlex="80">
      <app-active-filter *ngIf="hasActiveFilters()"></app-active-filter>
      <button mat-raised-button (click)="removeFilter()">Remove all filters</button>
      <hr>
    </div>
  </h3>

  <div fxLayoutGap="2%" fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="17">
      <app-filter title="Dataset source" [filterSize]=2></app-filter>
      <app-filter title="Year" [filterSize]=6></app-filter>
      <app-filter title="Journal" [filterSize]=6></app-filter>
      <app-filter title="Project" [filterSize]=4></app-filter>
    </div>

    <div fxFlex="83" class="table-responsive">
      <button mat-raised-button style="background-color: green; color: white;" (click)="onDownloadData()" [disabled]="downloading">
        Download data
      </button>
      <button (click)="downloadFile('csv')" mat-raised-button *ngIf="downloadData">
        Export as CSV file
      </button>
      <button (click)="downloadFile('txt')" mat-raised-button *ngIf="downloadData">
        Export as Tabular file
      </button>
      <mat-spinner *ngIf="downloading" [diameter]="30"
        style="display: inline; margin-left: 10px;">
      </mat-spinner>
      <app-table-server-side  [display_fields]="displayFields"
            [column_names]="columnNames"
            [templates]="templates"
            [filter_values]="filter_field"
            [apiFunction]="loadTableDataFunction"
            [query]="query"
            [defaultSort]="defaultSort">
      </app-table-server-side>
    </div>
  </div>
</div>

<ng-template #titleTemplate let-item>
  <a style="cursor: pointer" target="_blank" [routerLink]="item['id']">{{item['title']}}</a>
</ng-template>
