a {
  font-family: Arial;
}

.nav-link {
  color: rgba(0,0,0,.5);
  font-size: 18px;
}

.active {
  color: black;
}

.mat-button {
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
}

.mat-form-field {
}

.search-button {
  border: none;
}
