<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home"><img alt="FAANG logo" src="../../../assets/FAANG_logo_RGBc.png" width="80" height="40" class="d-inline-block align-top"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/organism">Organisms</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/specimen">Specimens</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dataset">Datasets</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/file">Files</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/analysis">Analyses</a>
      </li>
      <li class="nav-item" [ngClass]="isActiveProtocols()">
        <a class="nav-link" routerLink="/protocol/samples">Protocols</a>
      </li>
      <li class="nav-item" [ngClass]="isActiveSummary()">
        <a class="nav-link" routerLink="/summary/organisms">Summary</a>
      </li>
      <li class="nav-item" [ngClass]="isActiveRuleset()">
        <a class="nav-link" routerLink="/ruleset/samples" fragment="standard">Rule sets</a>
      </li>
      <li class="nav-item" [ngClass]="isActiveValidation()">
        <a class="nav-link" routerLink="/validation/samples">Validation</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/help">Help</a>
      </li>
    </ul>
  </div>
</nav>
