<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home"><img alt="FAANG logo" src="../../../assets/FAANG_logo_RGBc.png" width="80" height="40" class="d-inline-block align-top"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item dropdown" [ngClass]="recordsOpenDropdown()" routerLinkActive="active">
        <a class="nav-link dropdown-toggle"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
           style="cursor: pointer"
           (click)="recordsOnDropdownClick()">
          Data
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="recordsOpenDropdown()">
          <a class="nav-link" routerLink="/organism">Organisms</a>
          <a class="nav-link" routerLink="/specimen">Specimens</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" routerLink="/dataset">Datasets</a>
          <a class="nav-link" routerLink="/file">Files</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" routerLink="/analysis">Analyses</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" routerLink="/protocol/samples">Protocols</a>
          <a class="nav-link" routerLink="/article">Publications</a>
        </div>
      </li>
      <li class="nav-item" [ngClass]="isActiveProjects()">
        <a class="nav-link" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item" [ngClass]="isActiveSummary()">
        <a class="nav-link" routerLink="/summary/organisms">Summary</a>
      </li>
      <li class="nav-item dropdown" [ngClass]="validationOpenDropdown()" routerLinkActive="active">
        <a class="nav-link dropdown-toggle"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
           style="cursor: pointer"
           (click)="validationOnDropdownClick()">
          Submit
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="validationOpenDropdown()">
          <a class="nav-link" routerLink="/ruleset/samples">Rule sets</a>
          <a class="nav-link" routerLink="/validation/samples">Validation service</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" href="https://dcc-documentation.readthedocs.io/en/latest/">Help</a>
        </div>
      </li>
      <li class="nav-item" [ngClass]="isOntologyImprover()">
        <a class="nav-link" routerLink="/ontology">Ontology Improver <sup>Beta</sup></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
      <li class="nav-item dropdown" [ngClass]="helpOpenDropdown()" routerLinkActive="active">
        <a class="nav-link dropdown-toggle"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
           style="cursor: pointer"
           (click)="helpOnDropdownClick()">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="helpOpenDropdown()">
          <a class="nav-link" href="https://dcc-documentation.readthedocs.io/en/latest/faq/" target="_blank">FAQ</a>
          <a class="nav-link" routerLink="/api">API Documentation</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
