button {
  margin-left: 5px;
}

.subheader {
  color: darkgrey;
}

i {
  margin-left: 5px;
}

button {
  font-size: 14px;
}

.card {
  border: solid 0.2px rgba(0,0,0,0.15);
}

button:focus {
  outline: none;
}
