<div class="container-fluid">
  <app-header></app-header>
  <h2>FAANG Protocols</h2>
  <hr>
  <div style="margin-bottom: 25px;">
    <button type="button" class="btn btn-info" aria-label="Left Align" [ngClass]="'active'"
      [routerLink]="['/protocol', 'samples']"> Samples
      <i class="material-icons float-right">home</i>
    </button>
    <button type="button" class="btn btn-info" aria-label="Left Align" 
      [routerLink]="['/protocol', 'experiments']"> Experiments
      <i class="material-icons float-right">arrow_forward</i>
    </button>
  </div>

  <h3 class="col-md-10 offset-md-1" *ngIf="hasActiveFilters()">
    Active filters:
    <app-active-filter *ngIf="hasActiveFilters()"></app-active-filter>
    <button class="btn btn-light" type = "button" (click)="removeFilter()">Remove all filters</button>
  </h3>

  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Organisation" [filterSize]=2></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Protocol Year" [filterSize]=5></app-filter>
        </div>
      </div>
    </div>

    <div class="col-md-10 table-responsive">
      <button class="btn btn-success" (click)="onDownloadData()" [disabled]="downloading">
        Download data
      </button>
      <button (click)="downloadFile('csv')" class="btn btn-light" *ngIf="downloadData">
        Export as CSV file
      </button>
      <button (click)="downloadFile('txt')" class="btn btn-light" *ngIf="downloadData">
        Export as Tabular file
      </button>
      <button class="btn btn-success" (click)="onUploadProtocolClick()">Upload protocol</button>
      <mat-spinner *ngIf="downloading" [diameter]="30" 
        style="display: inline; margin-left: 10px;">
      </mat-spinner>
      <app-table-server-side  [display_fields]="displayFields" 
            [column_names]="columnNames"
            [templates]="templates"
            [filter_values]="filter_field"
            [apiFunction]="loadTableDataFunction"
            [query]="query"
            [defaultSort]="defaultSort">
      </app-table-server-side>
    </div>
  </div>
</div>

<ng-template #nameTemplate let-item>
  <a style="cursor: pointer" target="_blank" [routerLink]="item['key']">{{item['protocol_name']}}</a>
</ng-template>
