<ng-container *ngIf="link">
  <a *ngIf="prefix" [href]="prefix + link" target="_blank">{{text}}</a>
  <a *ngIf="!prefix" [href]="link" target="_blank">{{text}}</a>
</ng-container>
<ng-container *ngIf="!link">{{text}}</ng-container>
<!--
In the parent html, e.g. specimen-detail.component.html
could use following statement
Wrong
    <robust-link [text]="something"></robust-link>

Correct
    <robust-link text="something"></robust-link>    		plain text. Recommended for String
    <robust-link [text]="'something'"></robust-link>        with [], the right side is JavaScript, so string should be within ''
    <robust-link [text]="mytext"></robust-link>             mytext should be defined in the specimen-detail.component.ts. Recommended for property
    														text needs to be defined with @Input() text: string;
														    And in this html use <a href="{{link}}">{{text}}</a>

    <robust-link>some text</robust-link>					In this html, use <ng-content></ng-content> to refer to "some text", currently there could not be two <ng-content> in the html in *ngIf
-->