@media (max-width: 767px) {
  div.faang-filter {
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

button {
  margin-left: 5px;
  font-size: 14px;
}

i {
  margin-left: 5px;
}

a {
  color: steelblue;
}

table {
  font-size: 14px;
}

h3 {
  color: #477AAF;
}
