<div class="card text-center" *ngIf="hits">
  <h6 class="card-header clickable" (click)="toggleDisplay()">
    {{ hits?.total }} matching {{entity}}{{hits?.total == 1 ? '' : 's' }}
    <ng-container>
      <i class="material-icons" *ngIf="!display">arrow_drop_down</i>
      <i class="material-icons" *ngIf="display">arrow_drop_up</i>
    </ng-container>
  </h6>

  <div style="max-height: 200px; overflow: auto;" class="table-responsive">
    <table class="table table-striped table-hover" *ngIf="display">
      <ng-container [ngSwitch]="entity">
        <ng-template ngSwitchCase="organism">
          <thead>
          <tr>
            <th>BioSample ID</th>
            <th>Name</th>
            <th>Sex</th>
            <th>Species</th>
            <th>Breed</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let hit of hits?.hits">
            <td><a [routerLink]="['/organism', hit._id]" class="clickable">{{hit._id}}</a></td>
            <td>{{hit?._source?.name}}</td>
            <td>{{hit?._source?.sex?.text}}</td>
            <td>{{hit?._source?.organism?.text}}</td>
            <td>{{hit?._source?.breed?.text}}</td>
          </tr>
          </tbody>
        </ng-template>
        <ng-template ngSwitchCase="specimen">
          <thead>
          <tr>
            <th>BioSample ID</th>
            <th>Name</th>
            <th>Organism part</th>
            <th>Sex</th>
            <th>Species</th>
            <th>Breed</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let hit of hits?.hits">
            <td><a class="clickable" [routerLink]="['/specimen', hit?._id]">{{hit?._id}}</a></td>
            <td>{{hit?._source?.name}}</td>
            <td>{{getCellType(hit)}}</td>
            <td>{{hit?._source?.organism?.sex?.text}}</td>
            <td>{{hit?._source?.organism?.organism?.text}}</td>
            <td>{{hit?._source?.organism?.breed?.text}}</td>
          </tr>
          </tbody>
        </ng-template>
        <ng-template ngSwitchCase="file">
          <thead>
          <tr>
            <th>File ID</th>
            <th>Study</th>
            <th>Experiment</th>
            <th>Species</th>
            <th>Specimen</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let hit of hits?.hits">
            <td><a class="clickable" [routerLink]="['/file', hit._id]">{{hit._id}}</a></td>
            <td>{{hit?._source?.study?.accession}}</td>
            <td>{{hit?._source?.experiment?.accession}}</td>
            <td>{{hit?._source?.species?.text}}</td>
            <td>{{hit?._source?.specimen}}</td>
          </tr>
          </tbody>
        </ng-template>
        <ng-template ngSwitchCase="dataset">
          <thead>
          <tr>
            <th>Dataset ID</th>
            <th>Title</th>
            <th>Species</th>
            <th>Archive</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let hit of hits?.hits">
            <td><a class="clickable" [routerLink]="['/dataset', hit._id]">{{hit._id}}</a></td>
            <td>{{hit?._source?.title}}</td>
            <td>{{getStrFromArray(hit?._source?.species,"text")}}</td>
            <td>{{getStrFromArray(hit?._source?.archive,"")}}</td>
          </tr>
          </tbody>
        </ng-template>
      </ng-container>
    </table>
  </div>
</div>
