<div class="container">
  <app-header></app-header>
  <h1 class="text-center" *ngIf="fileId">{{fileId.split("_").slice(2, -1).join(" ")}}</h1>
  <dl class="row">
    <dt class="col-sm-3">Specimen collection protocol:</dt>
    <dd class="col-sm-9">
      <app-robust-link [link]="link" [text]="file?.key"></app-robust-link>
    </dd>
    <dt class="col-sm-3">Organisation:</dt>
    <dd class="col-sm-9">{{file?.universityName}}</dd>
    <dt class="col-sm-3">Protocol date:</dt>
    <dd class="col-sm-9">{{file?.protocolDate}}</dd>
  </dl>

  <h3 *ngIf="file?.specimens">Related Specimens and Organisms</h3>
  <div class="table-responsive" *ngIf="file?.specimens">
    <table class="table table-striped table-hover table-borderless table-sm">
      <thead>
      <tr>
        <th>Specimen</th>
        <th>Organism part/Cell type</th>
        <th>Organism</th>
        <th>Breed</th>
        <th>Derived from</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sample of file?.specimens | paginate: { itemsPerPage: 10, currentPage: p }">
        <td><a [routerLink]="['/specimen', sample.id]">{{sample.id}}</a></td>
        <td>{{sample.organismPartCellType}}</td>
        <td>{{sample.organism}}</td>
        <td>{{sample.breed}}</td>
        <td>
          <ng-container *ngIf="!checkIsArray(sample.derivedFrom)">
            <a [routerLink]="['/organism', sample.derivedFrom]">{{sample.derivedFrom}}</a>
          </ng-container>
          <ng-container *ngIf="checkIsArray(sample.derivedFrom)">
            <ul>
              <li *ngFor="let parent of sample.derivedFrom">
                <a [routerLink]="['/specimen', parent]">{{parent}}</a>
              </li>
            </ul>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
