<table mat-table matSort matSortDisableClear [dataSource]="dataSource" table-striped style="width: 100%">
  <ng-container [matColumnDef]=col *ngFor="let col of displayedColumns; let i = index">
    <th mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header > {{ col }}
    </th>
    <td mat-cell class="table-cell-data" *matCellDef="let element">
      {{ element[col] }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


