<div>
  <div class="paragraph">
    By establishing EuroFAANG, the H2020 projects AQUA-FAANG, BovReg and GENE-SWitCH have formed a closer relationship
    to coordinate their objectives within Europe in association with the <a href="http://www.faang.org/"
                                                                            target="_blank">international FAANG
    initiative</a>. EuroFAANG brings together a wide range of expertise in farmed animal biology and breeding, genomics,
    bioinformatics, modelling and open data, as well as multiple platforms for dissemination and outreach, with a common
    goal to discover links between genome and phenome (i.e. G2P) in the frame of the FAANG to Fork strategy.
  </div>

  <div class="wrapper paragraph">
    <div class="first-section">
        <span class="sm-para">In EuroFAANG, the
          three projects have identified joint strategies to empower research, as well as for communication, dissemination and training activities. Examples are the common planning and development of collaborative analyses and the coordinated organization of training        courses. EuroFAANG further aims to maximise user engagement and uptake of the results by targeting a wide range of stakeholder groups.></span>
      <span class="sm-para">Combining the efforts of H2020 projects within EuroFAANG aims to benefit their shared objective of characterising the functional elements of the genome of farm animals. By describing (i.e. annotating) the coding and regulatory elements of the genome, the projects will be able to unravel the underlying mechanisms of complex breeding traits that are important for sustainable animal production.</span>
    </div>
    <div class="second-section">
      <img
        src="https://github.com/FAANG/comm-data-portal-projects/raw/koosum/eurofaang/projects/eurofaang/eurofaang-right-img.png"/>
    </div>
  </div>

  <div class="paragraph">
    <span class="sm-para">AQUA-FAANG, BovReg and GENE-SWitCH all focus on a different group of animals (respectively farmed fish species, cattle, pigs and chicken). Although the genomes for most domesticated animals have been successfully sequenced, we have a limited understanding of functional regions in the DNA, including elements that regulate gene transcription under different conditions. We are also likely missing important genes in current genome versions. Such genomic regions will be identified by functional annotation in the three EuroFAANG projects. Additionally, the projects focus on exploring how the genome is altered by environmental cues through epigenetic mechanisms that modify how available the DNA is for gene expression. </span>
    <span class="sm-para">Being able to use genomic information to predict phenotypes in specific environments helps us to address the current challenge of feeding a growing world population with sustainable and healthy food in a profitable and socially responsible way. Within the combined efforts of EuroFAANG, the knowledge developed will be used to improve:</span>
  </div>

  <div>
    <div class="wrapper-logo">
      <div class="logo-col">
        <a>
          <img
            src="https://github.com/FAANG/comm-data-portal-projects/raw/koosum/eurofaang/projects/eurofaang/animals/cow.png"
            alt="cow"/>
        </a>
      </div>
      <div class="paragraph text-col">
        <div style="height:15px;"></div>
        The main production traits for ruminants known for their complex (epi)genetic interactions: disease
        susceptibility (e.g. mastitis), robustness and efficiency (also in relation to GHG emissions).
      </div>
    </div>

    <div class="wrapper-logo">
      <div class="logo-col">
        <a>
          <img
            src="https://github.com/FAANG/comm-data-portal-projects/raw/koosum/eurofaang/projects/eurofaang/animals/piglet-and-chicken.png"
            alt="piglet-chicken"/>
        </a>
      </div>
      <div class="paragraph text-col">
        The main complex traits (e.g. growth rate) related to sustainable production in monogastrics (pigs and poultry),
        and assessing if the epigenetic effects driven by a major environmental factor (i.e. diet) on the pig fetal
        genome persist in offspring.
      </div>
    </div>

    <div class="wrapper-logo">
      <div class="logo-col">
        <a>
          <img
            src="https://github.com/FAANG/comm-data-portal-projects/raw/koosum/eurofaang/projects/eurofaang/animals/fish-transparent.png"
            alt="fish"/>
        </a>
      </div>
      <div class="paragraph text-col">
        Precision breeding in aquaculture by enhancing traits of commercial relevance within the most important fish
        species used in European aquaculture (Atlantic salmon, rainbow trout, common carp, European seabass, gilthead
        seabream and turbot), with a special focus on disease resistance.
      </div>
    </div>
  </div>

  <div class="paragraph" style="margin-top: 20px">
    EuroFAANG aims to produce standardized protocols for functional annotation and ensure that the outputs are gathered
    in datasets that are comparable and reusable. Additionally, these efforts will encourage and pave the way for
    research on functional annotation in other animal species yet to be addressed. By combining contributions from
    global members and projects, EuroFAANG facilitates high-quality functional annotation of animal genomes, thereby
    supporting sustainable and profitable animal production in Europe through exploitation in breeding programmes and
    management tools.
  </div>

  <div class="img-center">
    <a>
      <img
        src="https://github.com/FAANG/comm-data-portal-projects/raw/koosum/eurofaang/projects/eurofaang/eurofaang-desc.png"
        style="width:auto;max-width:100%"/>
    </a>
  </div>

  <div class="img-center">
    <a>
      <img
        src="https://github.com/FAANG/comm-data-portal-projects/raw/koosum/eurofaang/projects/eurofaang/project-desc-2.png"/>
    </a>
  </div>

  <div class="img-center">
    <a>
      <img
        src="https://github.com/FAANG/comm-data-portal-projects/raw/koosum/eurofaang/projects/eurofaang/bottom-logos/eurofaang.png"
        alt="EuroFAANG"/>
    </a>
  </div>

  <div>
    <table class="bottom-table">
      <tbody>
      <tr>
        <td class="bottom-table-col">
          <div class="img-center">
            <a href='https://www.aqua-faang.eu/' target='_blank'>
              <img
                src="https://github.com/FAANG/comm-data-portal-projects/raw/koosum/eurofaang/projects/eurofaang/bottom-logos/aqua-faang.png"
                alt="aqua-faang"/>
            </a>
          </div>
        </td>

        <td class="bottom-table-col">
          <div style="height:11px;"></div>
          <div class="img-center">
            <a href='https://www.bovreg.eu/' target='_blank'>
              <img
                src="https://github.com/FAANG/comm-data-portal-projects/raw/koosum/eurofaang/projects/eurofaang/bottom-logos/bovreg.png"
                alt="bovreg"/>
            </a>
          </div>
          <div style="height:19px;"></div>
        </td>

        <td class="bottom-table-col">
          <div class="img-center">
            <a href='https://www.gene-switch.eu/' target='_blank'>
              <img
                src="https://github.com/FAANG/comm-data-portal-projects/raw/koosum/eurofaang/projects/eurofaang/bottom-logos/gene-switch.png"
                alt="gene-switch"/>
            </a>
          </div>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>



