.parent-project-logo {
  max-width:350px;
  max-height:350px;
  width:auto;
  height:auto;
}

.faang-parent-project-logo {
  max-height:150px;
  width:auto;
  height:auto;
}

.project-logo {
  max-width:256px;
  max-height:256px;
  width:auto;
  height:auto;
}

div-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aquaa-project-logo{
  max-height:130px;
  width:auto;
  height:auto;
}

.left {
  border-right: 1px solid lightgrey;
}
 h2{
   margin-bottom: 50px;
 }

 .horizontal-rule{
   display: block;
   border-top: 5px solid #dfecf5;
   width: 100%;
   overflow: hidden;
   margin: 40px 0;
 }

.small-project-logo {
  max-width:150px;
  max-height:150px;
  width:auto;
  height:auto;
}


.large-project-logo {
  max-width:350px;
  max-height:350px;
  width:auto;
  height:auto;
}
