.parent-project-logo {
  max-width:350px;
  max-height:350px;
  width:auto;
  height:auto;
}

.faang-parent-project-logo {
  max-height:150px;
  width:auto;
  height:auto;
}

.project-logo {
  max-width:256px;
  max-height:256px;
  width:auto;
  height:auto;
}

.div-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aquaa-project-logo{
  max-height:130px;
  width:auto;
  height:auto;
}

.left {
  border-right: 1px solid lightgrey;
}

.horizontal-rule{
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 40px 0;
}

.z-depth:hover {
  box-shadow: 0 4px 4px 4px rgba(0,0,0,.2), 0 4px 4px 0 rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.1) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
