<ng-container>
  <div class="container" style="min-height:87vh">
    <app-header></app-header>
    <h2>FAANG projects</h2><br>

    <ng-container *ngFor="let project of projects">
      <div class="row">
        <ng-container>
          <div class="col-md-6">
            <a [routerLink]="['/projects', project.left.id]">
              <img src="{{project.left.image.url}}" alt="Project Logo" class="project-logo">
            </a>
          </div>
        </ng-container>
        <ng-container *ngIf="project.right">
          <div class="col-md-6">
            <a [routerLink]="['/projects', project.right.id]">
              <img src="{{project.right.image.url}}" alt="Project Logo" class="project-logo">
            </a>
          </div>
        </ng-container>
      </div>

      <hr>
    </ng-container>
  </div>
</ng-container>

