<table mat-table matSort matSortDisableClear [dataSource]="dataSource" table-striped style="width: 100%">
    <ng-container [matColumnDef]=col *ngFor="let col of display_fields; let i = index">
        <ng-container *ngIf="templates[col]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column_names[i]}} </th>
            <td mat-cell *matCellDef="let item" style="padding-right: 5px;">
                <ng-template *ngTemplateOutlet="templates[col]; context: { $implicit: item }">
                </ng-template>
            </td>
        </ng-container>
        <ng-container *ngIf="!templates[col]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column_names[i]}} </th>
            <td mat-cell *matCellDef="let item" style="padding-right: 5px;"> {{item[col]}} </td>
        </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="display_fields"></tr>
    <tr mat-row *matRowDef="let row; columns: display_fields;"></tr>
</table>
<mat-paginator [pageSize]="pageSize"></mat-paginator>
