@media (max-width: 767px) {
  div.faang-filter {
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

button {
  margin-left: 5px;
}

.green {
  color: green;
  text-align: center;
  width: 100px;
}

.default {
  text-align: center;
  width: 100px;
}

a {
  color: steelblue;
}

table {
  font-size: 14px;
}

h3 {
  color: #477AAF;
}

.subscription-icon {
  color: steelblue;
  display: flex;
  align-items: center;
}

