<div class="container">
  <app-header></app-header>
  <h2>FAANG analyses</h2>

  <h3 class="col-md-10 offset-md-1" *ngIf="hasActiveFilters()">
    Active filters:
    <app-active-filter *ngIf="hasActiveFilters()"></app-active-filter>
    <button class="btn btn-light" type = "button" (click)="removeFilter()">Remove all filters</button>
  </h3>

  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Standard" [filterSize]=6></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Species" [filterSize]=6></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Assay type" [filterSize]=3></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Dataset" [filterSize]=6></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Analysis type" [filterSize]=3></app-filter>
        </div>

      </div>
    </div>

    <div class="col-md-10 table-responsive">
      <div *ngIf="(analysisListLong | async) as analyses; else loading">
        <button class="btn btn-success" (click)="onDownloadData()">Dowload data</button>
        <app-export [data]="data" [filename]="'faang_data'" [options]="optionsCsv" *ngIf="downloadData">
          Export as CSV file
        </app-export>
        <app-export [data]="data" [filename]="'faang_data'" [options]="optionsTabular" *ngIf="downloadData">
          Export as Tabular file
        </app-export>
        <app-table-client-side #tableComp [display_fields]="displayFields"
                [column_names]="columnNames"
                [data]="analyses"
                [filter_values]="filter_field"
                [templates]="templates">
        </app-table-client-side>
      </div>
      <ng-template #loading>
        <div class="table-spinner">
          <mat-spinner [diameter]="30"></mat-spinner>
        </div>
        <div *ngIf="analysisListLong as analyses;">
          <app-table-client-side #tableComp [display_fields]="displayFields"
                                  [column_names]="columnNames"
                                  [data]="analyses"
                                  [filter_values]="filter_field"
                                  [templates]="templates">
          </app-table-client-side>
        </div>
      </ng-template>
      <div class="alert alert-danger" *ngIf="error"><p>{{ error }}</p></div>
    </div>
  </div>
</div>

<ng-template #accessionTemplate let-item>
  <a style="cursor: pointer" [routerLink]="item['row']['accession']">{{item['row']['accession']}}</a>
</ng-template>
