<div class="container" style="min-height:87vh">
  <app-header></app-header>
  <div class="row first-row">
    <div class="col-md-3">
      <img src="https://raw.githubusercontent.com/FAANG/comm-data-portal-projects/master/projects/gene-switch/project-logo.png" alt="Project Logo">
    </div>
    <div class="col-md-9">
      <p>
        GENE-SWitCH aims to deliver new underpinning knowledge on the functional genomes of two main monogastric farm
        species (pig and chicken) and to enable immediate translation to the pig and poultry sectors. The activation
        status of functional genome sequences varies across time and space, and in response to environmental
        perturbations.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <img src="https://raw.githubusercontent.com/FAANG/comm-data-portal-projects/master/projects/gene-switch/funding-logo-1.jpg" alt="Funding Logo">
    </div>
    <div class="col-md-9">
      <p>
        Twitter placeholder
      </p>
    </div>
  </div>

  <app-related-items source_type="project" target_type="paper" download_key="" [record_id]=""></app-related-items>
  <app-related-items source_type="project" target_type="specimen" download_key="" [record_id]=""></app-related-items>
  <app-related-items source_type="project" target_type="file" download_key="" [record_id]=""></app-related-items>

</div>
