<div class="container">
<faang-navbar></faang-navbar>
<api-error></api-error>
<h1 class="text-center">{{biosampleId}}</h1>
<api-slow-response></api-slow-response>
<dl class="dl-horizontal">
  <dt>Name:</dt><dd>{{organism?.name}}</dd>
  <dt>BioSample ID:</dt><dd><a href="http://www.ebi.ac.uk/biosamples/samples/{{organism?.biosampleId}}">{{organism?.biosampleId}}</a></dd>
  <dt>Release date:</dt><dd>{{organism?.releaseDate}}</dd>
  <dt>Update date:</dt><dd>{{organism?.updateDate}}</dd>
  <dt>Sex:</dt><dd>
    <robust-link prefix="https://www.ebi.ac.uk/ols/terms?id=" [link]="organism?.sex?.ontologyTerms" [text]="organism?.sex?.text"></robust-link>
  </dd>
  <dt>Organism:</dt><dd>
    <robust-link prefix="https://www.ebi.ac.uk/ols/terms?id=" [link]="organism?.organism?.ontologyTerms" [text]="organism?.organism?.text"></robust-link>
  </dd>
  <dt>Breed:</dt><dd>
    <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="organism?.breed.ontologyTerms" [text]="organism?.breed?.text"></robust-link>
  </dd>
  <dt>Material:</dt><dd>
    <a href="https://www.ebi.ac.uk/ols/terms?iri=http://purl.obolibrary.org/obo/UBERON_0000468" target="_blank">organism</a>
  </dd>
  <dt>Standard met:</dt><dd>{{organism?.standardMet}}</dd>
  <dt>Project:</dt><dd>{{organism?.project}}</dd>
  <div *ngIf="organism?.availability">
    <dt>Availability:</dt><dd>{{organism?.availability}}</dd>
  </div>
  <dt>Organisation:</dt><dd>
    <ng-container *ngFor="let organization of organism?.organization;">
      <robust-link [link]="organization.URL" [text]="organization.name"></robust-link> ( {{organization.role}})
    </ng-container>
  </dd>
  <div *ngIf="organism?.description">
    <dt>Description:</dt><dd>{{organism?.description}}</dd>
  </div>
  <div *ngIf="organism?.birthDate?.text">
    <dt>Birth date:</dt><dd>{{organism?.birthDate?.text}}</dd>
  </div>
  <div *ngIf="organism?.birthLocation">
    <dt>Birth location:</dt><dd>{{organism?.birthLocation}}</dd>
  </div>
  <div *ngIf="organism?.birthLocationLongitude?.text">
    <dt>Birth longitude:</dt><dd>{{organism?.birthLocationLongitude?.text}} {{organism?.birthLocationLongitude.unit}}</dd>
  </div>
  <div *ngIf="organism?.birthLocationLatitude?.text">
    <dt>Birth latitude:</dt><dd>{{organism?.birthLocationLatitude?.text}} {{organism?.birthLocationLatitude?.unit}}</dd>
  </div>
  <div *ngIf="organism?.birthWeight?.text">
  <dt>Birth weight:</dt><dd>{{organism?.birthWeight?.text}} {{organism?.birthWeight?.unit}}</dd>
  </div>
  <div *ngIf="organism?.placentalWeight?.text">
    <dt>Placental weight:</dt><dd>{{organism?.placentalWeight?.text}} {{organism?.placentalWeight?.unit}}</dd>
  </div>
  <div *ngIf="organism?.pregnancyLength?.text">
    <dt>Pregnancy length:</dt><dd>{{organism?.pregnancyLength?.text}} {{organism?.pregnancyLength?.unit}}</dd>
  </div>
  <div *ngIf="organism?.deliveryTiming">
    <dt>Delivery timing:</dt><dd>{{organism?.deliveryTiming}}</dd>
  </div>
  <div *ngIf="organism?.deliveryEase">
    <dt>Delivery ease:</dt><dd>{{organism?.deliveryEase}}</dd>
  </div>
  <div *ngIf="organism?.sameAs">
    <dt>Same as:</dt><dd>{{organism?.sameAs}}</dd>
  </div>
  <div *ngIf="organism?.childOf">
    <dt>Child of:</dt><dd>
      <ng-container *ngFor="let child of organism?.childOf;">
        <robust-link prefix="../organism/" [link]="child" [text]="child"></robust-link>
      </ng-container>
    </dd>
  </div>
  <div *ngIf="organism?.pedigree">
    <dt>Pedigree:</dt><dd>{{organism?.pedigree}}</dd>
  </div>
  <div *ngIf="organism?.customField?.length > 0;">
    <ng-container *ngFor="let field of organism?.customField;">
      <dt>{{field.name}}:</dt><dd>
        <robust-link prefix="https://www.ebi.ac.uk/ols/terms?id=" [link]="field.ontologyTerms" [text]="field.value"></robust-link>  {{field?.unit}}
      </dd>
    </ng-container>
  </div>
  </dl>
  <p></p>
<organism-specimens [biosampleId]="biosampleId"></organism-specimens>
</div>
