<h3>Specimens</h3>

<div class="fails-table center-block">
  <div class="pull-left "><button class="btn btn-default" type="button" (click)="tablePrevious()"
    *ngIf="specimenOffset">Previous</button></div>
  <div class="pull-right "><button class="btn btn-default" type="button" (click)="tableNext()"
    *ngIf="tableHasMore()">Next</button></div>
  <div class="clearfix"></div>

<table class="table table-striped table-hover table-responsive">
<thead><tr>
  <th>BioSample ID</th><th>Organism part/Cell type</th><th>Material type</th>
</tr></thead>
<tbody><tr *ngFor="let specimen of specimenList?.hits.hits;"
  class="clickable" [routerLink]="['/specimen', specimen?._source?.biosampleId]">
<td><a>{{specimen?._source.biosampleId}}</a></td>
<td *ngIf="specimen?._source?.specimenFromOrganism?.organismPart?.text">{{specimen?._source?.specimenFromOrganism?.organismPart?.text}}</td>
<td *ngIf="specimen?._source?.cellSpecimen?.cellType?.text">{{specimen?._source?.cellSpecimen?.cellType?.text}}</td>
<td *ngIf="specimen?._source?.cellCulture?.cellType?.text">{{specimen?._source?.cellCulture?.cellType?.text}}</td>
<td *ngIf="specimen?._source?.cellLine?.cellType?.text">{{specimen?.cellLine?.cellType?.text}}</td>
<td *ngIf="!specimen?._source?.cellLine?.cellType?.text && !specimen?._source?.cellCulture?.cellType?.text && !specimen?._source?.cellSpecimen?.cellType?.text && !specimen?._source?.specimenFromOrganism?.organismPart?.text"> </td>
<td><a>{{specimen?._source?.material?.text}}</a></td>
</tr></tbody>
</table>

  <div class="clearfix"></div>
  <div class="pull-left "><button class="btn btn-default" type="button" (click)="tablePrevious()"
    *ngIf="specimenOffset">Previous</button></div>
  <div class="pull-right "><button class="btn btn-default" type="button" (click)="tableNext()"
    *ngIf="tableHasMore()">Next</button></div>
  <div class="clearfix"></div>
