<!-- View for Bulk upload mode -->
<div *ngIf="mode == 'bulk'">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6">
      <label class="btn btn-default p-0">
        <input *ngIf="mode == 'bulk'" type="file" multiple (change)="selectFiles($event)" />
      </label>
      <button class="btn btn-success"
        [disabled]="!selectedFiles" (click)="uploadFiles()"
        style="float: right;">
        Upload
      </button>
    </div>
  </div>
  <hr>
  <div *ngFor="let file of fileNamesList" style="word-break: break-all;">
    <div class="row">
      <div class="col-md-6">
        {{ file }}
      </div>
      <div class="col-md-6">
        <div [ngClass]="getAlertClass(submission_message[file])" role="alert"
              style="margin-top: 5px; padding: 5px; text-align: center;" >
          {{ submission_message[file] }}
          <p *ngFor="let error of errors[file]">
            {{ error }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr *ngIf="fileNamesList.length">
</div>

<!-- View for Single upload mode -->
<div *ngIf="mode == 'single'">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6">
      <label class="btn btn-default p-0">
        <input *ngIf="mode == 'single'" type="file" (change)="selectFiles($event)" />
      </label>
      <button class="btn btn-success"
        [disabled]="!selectedFiles" (click)="uploadFiles()"
        style="float: right;">
        Upload
      </button>
    </div>
    <div class="col-md-6">
      <div [ngClass]="getAlertClass(submission_message[fileNamesList[0]])" role="alert"
            style="padding: 5px; text-align: center;" >
        {{ submission_message[fileNamesList[0]] }}
        <p *ngFor="let error of errors[fileNamesList[0]]">
          {{ error }}
        </p>
      </div>
    </div>
  </div>
</div>