<div class="container">
  <app-header></app-header>
  <h2>FAANG Rule sets
    <button type="button" class="btn btn-info" aria-label="Left Align" [routerLink]="['/ruleset', 'samples']">
      Samples
      <i class="material-icons float-right">menu</i>
    </button>

    <button type="button" class="btn btn-info" aria-label="Left Align" [routerLink]="['/ruleset', 'experiments']">
      Experiments
      <i class="material-icons float-right">menu</i>
    </button>

    <button type="button" class="btn btn-info" aria-label="Left Align" [ngClass]="'active'"
            [routerLink]="['/ruleset', 'analyses']">
      Analyses
      <i class="material-icons float-right">home</i>
    </button>
  </h2>
</div>
