<div class="container">
  <app-header></app-header>
  <h2>FAANG Rule sets
    <button type="button" class="btn btn-info" aria-label="Left Align" [routerLink]="['/ruleset', 'samples']" fragment="standard">
      Samples
      <i class="material-icons float-right">menu</i>
    </button>

    <button type="button" class="btn btn-info" aria-label="Left Align" [routerLink]="['/ruleset', 'experiments']">
      Experiments
      <i class="material-icons float-right">menu</i>
    </button>

    <button type="button" class="btn btn-info" aria-label="Left Align" [ngClass]="'active'"
            [routerLink]="['/ruleset', 'analyses']">
      Analyses
      <i class="material-icons float-right">home</i>
    </button>
  </h2>

  <dl class="row">
    <dt class="col-sm-3">Name:</dt>
    <dd class="col-sm-9">{{ data?.name }}</dd>

    <dt class="col-sm-3">Description:</dt>
    <dd class="col-sm-9">{{ data?.description }}</dd>

    <dt class="col-sm-3">Further details:</dt>
    <dd class="col-sm-9">
      <a href="data?.further_details_iri">{{ data?.further_details_iri }}</a>
    </dd>
  </dl>

  <hr>

  <div class="row">
    <h3>Rule groups</h3>
  </div>

  <div class="alert alert-danger" *ngIf="error"><p>{{ error }}</p></div>
</div>
