<div class="container">
<faang-navbar></faang-navbar>
<api-error></api-error>
<h1 class="text-center">{{fileId}}</h1>
<api-slow-response></api-slow-response>
<dl class="dl-horizontal">
  <dt>File name:</dt><dd>
<!--    <robust-link prefix="ftp://" [link]="file?.url" [text]="file?.name"></robust-link><a href="ftp://{{file?.url}}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>-->
    {{file?.name}}
  </dd>
  <dt>Release date:</dt><dd>{{file?.releaseDate}}</dd>
  <dt>Update date:</dt><dd>{{file?.updateDate}}</dd>
  <dt>Organism:</dt><dd>
    <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="file?.species?.ontologyTerms" [text]="file?.species?.text"></robust-link>
  </dd>
  <dt>Specimen:</dt><dd>
    <robust-link prefix="../specimen/" [link]="file?.specimen" [text]="file?.specimen"></robust-link>
  </dd>
  <div *ngIf="file?.organism">
    <dt>Organism:</dt><dd>
      <robust-link prefix="../organism/" [link]="file?.organism" [text]="file?.organism"></robust-link>
    </dd>
  </div>
  <dt>File size:</dt><dd>{{file?.size}} ({{file?.readableSize}})</dd>
  <dt>Archive:</dt><dd>{{file?.archive}}</dd>
  <dt *ngIf="file?.readCount">Read count:</dt><dd>{{file?.readCount}}</dd>
  <dt *ngIf="file?.baseCount">Base count:</dt><dd>{{file?.baseCount}}</dd>
  <dt *ngIf="file?.submission">Submission:</dt><dd>
    <robust-link prefix="https://www.ebi.ac.uk/ena/data/view/" [link]="file?.submission" [text]="file?.submission"></robust-link>
  </dd>
  <dt *ngIf="file?.experiment?.accession">Experiment:</dt><dd>
    <robust-link prefix="https://www.ebi.ac.uk/ena/data/view/" [link]="file?.experiment?.accession" [text]="file?.experiment?.accession"></robust-link>
  </dd>
  <dt *ngIf="file?.experiment?.assayType">Assay Type:</dt><dd>{{file?.experiment?.assayType}}</dd>

  <dt *ngIf="file?.study?.accession">Study:</dt><dd>
    <robust-link prefix="https://www.ebi.ac.uk/ena/data/view/" [link]="file?.study?.accession" [text]="file?.study?.accession"></robust-link>
  </dd>
<!--  <dt *ngIf="file?.study?.alias">Study alias:</dt><dd>{{file?.study?.alias}}</dd>-->
  <dt *ngIf="file?.study?.title">Study title:</dt><dd>{{file?.study?.title}}</dd>

  <dt *ngIf="file?.run?.accession">Run:</dt><dd>
    <robust-link prefix="https://www.ebi.ac.uk/ena/data/view/" [link]="file?.run?.accession" [text]="file?.run?.accession"></robust-link>
  </dd>
<!--  <dt *ngIf="file?.run?.alias">Run alias:</dt><dd>{{file?.run?.alias}}</dd>-->
  <dt *ngIf="file?.run?.platform">Platform:</dt><dd>{{file?.run?.platform}}</dd>
  <dt *ngIf="file?.run?.instrument">Instrument:</dt><dd>{{file?.run?.instrument}}</dd>
  <dt *ngIf="file?.run?.centerName">Center name:</dt><dd>{{file?.run?.centerName}}</dd>
  <dt *ngIf="file?.run?.sequencingDate">Sequencing date:</dt><dd>{{file?.run?.sequencingDate}}</dd>
  <dt *ngIf="file?.run?.sequencingLocation">Sequencing location:</dt><dd>{{file?.run?.sequencingLocation}}</dd>
  <dt *ngIf="file?.run?.sequencingLatitude">Sequencing latitude:</dt><dd>{{file?.run?.sequencingLatitude}}</dd>
  <dt *ngIf="file?.run?.sequencingLongitude">Sequencing longitude:</dt><dd>{{file?.run?.sequencingLongitude}}</dd>
</dl>
<run-files [runId]="file?.run?.accession"></run-files>
</div>
