<div class="container-fluid">
  <app-header></app-header>
  <div *ngIf="analysis">
    <h2>{{analysis.accession}}</h2>
    <hr>
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.lt-md="column">
        <dt fxFlex="25">Analysis accession:</dt>
        <dd fxFlex="75">
          <app-robust-link [prefix]="ena_prefix" [link]="analysis?.accession"
                           [text]="analysis?.accession"></app-robust-link>
        </dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column">
        <dt fxFlex="25">Title:</dt>
        <dd fxFlex="75">{{analysis?.title}}</dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.alias">
        <dt fxFlex="25">Alias:</dt>
        <dd fxFlex="75">{{analysis?.alias}}</dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.type">
        <dt fxFlex="25">Type:</dt>
        <dd fxFlex="75">{{analysis?.type}}</dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column">
        <dt fxFlex="25">Dataset accession:</dt>
        <dd fxFlex="75">
          <div *ngIf="analysis?.datasetInPortal">
            <app-robust-link [prefix]="dataset_prefix" [link]="analysis?.datasetAccession"
                           [text]="analysis?.datasetAccession"></app-robust-link>
          </div>
          <div *ngIf="!analysis?.datasetInPortal">
            <app-robust-link [prefix]="ena_prefix" [link]="analysis?.datasetAccession"
                           [text]="analysis?.datasetAccession"></app-robust-link>
          </div>
        </dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column">
        <dt fxFlex="25">Analysis type:</dt>
        <dd fxFlex="75">
          {{analysis?.analysisType}}
        </dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.type">
        <dt fxFlex="25">Assay type:</dt>
        <dd fxFlex="75">{{analysis?.assayType}}</dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.standardMet">
        <dt fxFlex="25">Standard:</dt>
        <dd fxFlex="75">{{analysis?.standardMet}}</dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.analysisCenter">
        <dt fxFlex="25">Analysis center:</dt>
        <dd fxFlex="75">{{analysis?.analysisCenter}}</dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.releaseDate">
        <dt fxFlex="25">Release date:</dt>
        <dd fxFlex="75">{{analysis?.releaseDate}}</dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.updateDate">
        <dt fxFlex="25">Update date:</dt>
        <dd fxFlex="75">{{analysis?.updateDate}}</dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.organism">
        <dt fxFlex="25">Species:</dt>
        <dd fxFlex="75">
          <app-robust-link [prefix]="ols_prefix" [link]="analysis?.organism?.ontologyTerms"
                           [text]="analysis?.organism?.text"></app-robust-link>
        </dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.sampleAccessions">
        <dt fxFlex="25">Related Samples:</dt>
        <dd fxFlex="75">
          <div fxLayout="row wrap" fxLayout.lt-md="column">
            <div *ngFor="let accession of analysis?.sampleAccessions" fxFlex="15" fxLayoutGap="16px">
              <div *ngIf="sampleInES(accession)">
                <app-robust-link [prefix]="specimen_prefix" [link]="accession" [text]="accession"></app-robust-link>
              </div>
              <div *ngIf="!sampleInES(accession)">
                <app-robust-link [prefix]="biosample_prefix" [link]="accession" [text]="accession"></app-robust-link>
              </div>
            </div>
          </div> 
        </dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.experimentAccessions && analysis?.experimentAccessions.length > 0">
        <dt fxFlex="25">Related Experiments:</dt>
        <dd fxFlex="75">
          <div fxLayout="row wrap" fxLayout.lt-md="column">
            <div *ngFor="let exp of analysis?.experimentAccessions" fxFlex="15" fxLayoutGap="16px">
              <app-robust-link [prefix]="ena_prefix" [link]="exp" [text]="exp"></app-robust-link>
            </div>
          </div>
        </dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.runAccessions && analysis?.runAccessions.length > 0">
        <dt fxFlex="25">Related Runs:</dt>
        <dd fxFlex="75">
          <div fxLayout="row wrap" fxLayout.lt-md="column">
            <div *ngFor="let run of analysis?.runAccessions" fxFlex="15" fxLayoutGap="16px">
              <app-robust-link [prefix]="ena_prefix" [link]="run" [text]="run"></app-robust-link>
            </div>
          </div>
        </dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.experimentType">
        <dt fxFlex="25">Experiment type:</dt>
        <dd fxFlex="75">{{convertArrayToStr(analysis.experimentType, '')}}</dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.platform">
        <dt fxFlex="25">Platform:</dt>
        <dd fxFlex="75">{{convertArrayToStr(analysis.platform, '')}}</dd>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" *ngIf="analysis?.analysisProtocol">
        <dt fxFlex="25">Analysis Protocol:</dt>
        <dd fxFlex="75"><app-robust-link prefix="" [link]="getProtocolLink(analysis.analysisProtocol.url)"
                              [text]="analysis.analysisProtocol.filename"></app-robust-link></dd>


      </div>
    </div>

    <app-related-items source_type="analysis" target_type="file"
                       download_key="url" [record_id]="analysis.accession"></app-related-items>
  </div>
</div>
