.container {
  font-family: Arial;
  margin-bottom: 100px;
}

.container-fluid {
  font-family: Arial;
  margin-bottom: 100px;
  padding: 0 5% 1% 5% !important;
}

h1, h2, h3{
  color: #49494A;
}

.navbar {
  padding: 0 0 2% 0 !important;
}

button:focus {
  outline: none !important;
}