<div class="container">
  <app-header></app-header>
  <div class="row first-row" *ngIf="_userService.token">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        <p>
          You are logged in as {{ _userService.username }}. <br>
          Token Expires: {{ _userService.token_expires }}
        </p>
        <button (click)="_userService.refreshToken()" class="btn btn-primary">Refresh Token</button>&nbsp;
        <button (click)="_userService.logout()" class="btn btn-primary">Log Out</button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="file">

    <h1 class="text-center">{{fileId}}</h1>
    <dl class="row">
      <dt class="col-sm-3">File name:</dt>
      <dd class="col-sm-9">{{ file?.name }}</dd>

      <ng-container *ngIf="file?.secondaryProject">
        <dt class="col-sm-3">Sub-project:</dt>
        <dd class="col-sm-9">{{file?.secondaryProject}}</dd>
      </ng-container>

      <ng-container *ngIf="file?.releaseDate">
        <dt class="col-sm-3">Release date:</dt>
        <dd class="col-sm-9">{{file?.releaseDate}}</dd>
      </ng-container>

      <dt class="col-sm-3">Update date:</dt>
      <dd class="col-sm-9">{{file?.updateDate}}</dd>

      <dt class="col-sm-3">Organism name:</dt>
      <dd class="col-sm-9">
        <app-robust-link [prefix]="ols_prefix" [link]="file?.species?.ontologyTerms"
                         [text]="file?.species?.text"></app-robust-link>
      </dd>

      <dt class="col-sm-3">Specimen:</dt>
      <dd class="col-sm-9">
        <app-robust-link [prefix]="specimen_prefix" [link]="file?.specimen" [text]="file?.specimen"
                         *ngIf="!_userService.token"></app-robust-link>
        <a [routerLink]="['/specimen', file?.specimen]" *ngIf="_userService.token">{{file?.specimen}}</a>
      </dd>

      <ng-container *ngIf="file?.organism">
        <dt class="col-sm-3">Organism:</dt>
        <dd class="col-sm-9">
          <app-robust-link [prefix]="organism_prefix" [link]="file?.organism" [text]="file?.organism"
                           *ngIf="!_userService.token"></app-robust-link>
          <a [routerLink]="['/organism', file?.organism]" *ngIf="_userService.token">{{file?.organism}}</a>
        </dd>
      </ng-container>

      <dt class="col-sm-3">File size:</dt>
      <dd class="col-sm-9">{{file?.size}} ({{file?.readableSize}})</dd>

      <dt class="col-sm-3">Archive:</dt>
      <dd class="col-sm-9">{{file?.archive}}</dd>

      <ng-container *ngIf="file?.readCount">
        <dt class="col-sm-3">Read count:</dt>
        <dd class="col-sm-9">{{file?.readCount}}</dd>
      </ng-container>

      <ng-container *ngIf="file?.baseCount">
        <dt class="col-sm-3">Base count:</dt>
        <dd class="col-sm-9">{{file?.baseCount}}</dd>
      </ng-container>

      <ng-container *ngIf="file?.submission">
        <dt class="col-sm-3">Submission:</dt>
        <dd class="col-sm-9" *ngIf="!_userService.token">
          <app-robust-link [prefix]="ena_prefix" [link]="file?.submission"
                           [text]="file?.submission"></app-robust-link>
        </dd>
        <dd class="col-sm-9" *ngIf="_userService.token">
          {{file?.submission}}
        </dd>
      </ng-container>

      <ng-container *ngIf="file?.experiment?.accession">
        <dt class="col-sm-3">Experiment:</dt>
        <dd class="col-sm-9" *ngIf="!_userService.token">
          <app-robust-link [prefix]="ena_prefix" [link]="file?.experiment?.accession"
                           [text]="file?.experiment?.accession"></app-robust-link>
          <button class="btn btn-info btn-sm" id="exp_dropdown" (click)="toggleExperiment()">Experiment details</button>
          <ng-container  *ngIf="showExperimentDetail">
            <hr>
            <ng-container *ngIf="experiment && fieldNames">
              <ng-container *ngFor="let key of objectKeys(fieldNames)">

                <ng-container *ngIf="experiment.hasOwnProperty(key) && checkIsObject(experiment[key])">
                  <ng-container *ngIf="experiment[key].hasOwnProperty('filename') && experiment[key]['filename']">
                    <p>
                      <b>{{fieldNames[key]}}:</b><br>
                      <app-robust-link [link]="getProtocolLink(experiment[key]['url'])"
                                       [text]="experiment[key]['filename'] | slice:0:62"></app-robust-link>
                    </p>
                  </ng-container>
                  <ng-container *ngIf="experiment[key].hasOwnProperty('text') && experiment[key]['text']">
                    <p>
                      <b>{{fieldNames[key]}}: </b><br>
                      {{experiment[key]['text']}} ({{experiment[key]['unit']}})
                    </p>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="experiment.hasOwnProperty(key) && !checkIsObject(experiment[key])">
                  <p>
                    <b>{{fieldNames[key]}}:</b><br>
                    {{experiment[key]}}
                  </p>
                </ng-container>

              </ng-container>
            </ng-container>
            <hr>
          </ng-container>
        </dd>
        <dd class="col-sm-9" *ngIf="_userService.token">{{file?.experiment?.accession}}</dd>
      </ng-container>

      <ng-container *ngIf="file?.study?.accession">
        <dt class="col-sm-3">Study:</dt>
        <dd class="col-sm-9">
          <app-robust-link [prefix]="dataset_prefix" [link]="file?.study?.accession"
                           [text]="file?.study?.accession" *ngIf="!_userService.token"></app-robust-link>
          <a [routerLink]="['/dataset', file?.study?.accession]" *ngIf="_userService.token">{{file?.study?.accession}}</a>
        </dd>
      </ng-container>

      <ng-container *ngIf="file?.study?.title">
        <dt class="col-sm-3">Study title:</dt>
        <dd class="col-sm-9">{{file?.study?.title}}</dd>
      </ng-container>

      <ng-container *ngIf="file?.run?.accession">
        <dt class="col-sm-3">Run:</dt>
        <dd class="col-sm-9" *ngIf="!_userService.token">
          <app-robust-link [prefix]="ena_prefix" [link]="file?.run?.accession"
                           [text]="file?.run?.accession"></app-robust-link>
        </dd>
        <dd class="col-sm-9" *ngIf="_userService.token">{{file?.run?.accession}}</dd>
      </ng-container>

      <ng-container *ngIf="file?.run?.platform">
        <dt class="col-sm-3">Platform:</dt>
        <dd class="col-sm-9">{{file?.run?.platform}}</dd>
      </ng-container>

      <ng-container *ngIf="file?.run?.instrument">
        <dt class="col-sm-3">Instrument:</dt>
        <dd class="col-sm-9">{{file?.run?.instrument}}</dd>
      </ng-container>

      <ng-container *ngIf="file?.run?.centerName">
        <dt class="col-sm-3">Center name:</dt>
        <dd class="col-sm-9">{{file?.run?.centerName}}</dd>
      </ng-container>

      <ng-container *ngIf="file?.run?.sequencingDate">
        <dt class="col-sm-3">Sequencing date:</dt>
        <dd class="col-sm-9">{{file?.run?.sequencingDate}}</dd>
      </ng-container>

      <ng-container *ngIf="file?.run?.sequencingLocation">
        <dt class="col-sm-3">Sequencing location:</dt>
        <dd class="col-sm-9">{{file?.run?.sequencingLocation}}</dd>
      </ng-container>

      <ng-container *ngIf="file?.run?.sequencingLatitude">
        <dt class="col-sm-3">Sequencing latitude:</dt>
        <dd class="col-sm-9">{{file?.run?.sequencingLatitude}} (decimal degrees)</dd>
      </ng-container>

      <ng-container *ngIf="file?.run?.sequencingLongitude">
        <dt class="col-sm-3">Sequencing longitude:</dt>
        <dd class="col-sm-9">{{file?.run?.sequencingLongitude}} (decimal degrees)</dd>
      </ng-container>

      <ng-container *ngIf="file && file.hasOwnProperty('experiment') && file.experiment.hasOwnProperty('standardMet')">
        <dt class="col-sm-3">Standard met:</dt>
        <dd class="col-sm-9">{{file.experiment.standardMet}}</dd>
      </ng-container>

      <ng-container *ngIf="file && file.hasOwnProperty('submitterEmail')">
        <dt class="col-sm-3">Submitter Emails:</dt>
        <dd class="col-sm-9">{{file.submitterEmail}}</dd>
      </ng-container>
    </dl>

    <app-related-items source_type="file" target_type="paper" download_key=""
                       [record_id]="fileId">
    </app-related-items>
    <app-related-items source_type="file" target_type="download" download_key="_source.url"
                       [record_id]="file.run.accession">
    </app-related-items>
  </ng-container>
  <div class="alert alert-danger" *ngIf="error"><p>{{ error }}</p></div>
</div>
