<app-header></app-header>
<!--<canvas baseChart-->
<!--        [type]="'pie'"-->
<!--        [datasets]="pieChartDatasets"-->
<!--        [labels]="pieChartLabels"-->
<!--        [options]="pieChartOptions"-->
<!--        [plugins]="pieChartPlugins"-->
<!--        [legend]="pieChartLegend">-->
<!--</canvas>-->
<!--<canvas baseChart-->
<!--        [data]="barChartData"-->
<!--        [options]="barChartOptions"-->
<!--        [plugins]="barChartPlugins"-->
<!--        [legend]="barChartLegend"-->
<!--        [type]="'bar'">-->
<!--</canvas>-->

<!--<canvas baseChart-->
<!--        [labels]="doughnutChartLabels"-->
<!--        [datasets]="doughnutChartDatasets"-->
<!--        [options]="doughnutChartOptions"-->
<!--        [legend]="true"-->
<!--        [type]="'doughnut'">-->
<!--</canvas>-->

<div class="container-fluid">
  <h2>FAANG Summary</h2>
  <hr>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between" style="margin-bottom: 20px;">
    <mat-tab-group #tabs (selectedTabChange)="tabClick($event)" style="margin-bottom: 20px;">
      <mat-tab label="Organisms"></mat-tab>
      <mat-tab label="Specimens"></mat-tab>
      <mat-tab label="Datasets"></mat-tab>
      <mat-tab label="Files"></mat-tab>
    </mat-tab-group>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="defaultCheck1" (click)="onCheckboxClick()" checked>
      <label class="form-check-label" for="defaultCheck1">
        Show only FAANG data (exclude legacy data)
      </label>
    </div>
  </div>

  <div *ngIf="!error" fxLayout="column" fxLayoutGap="4%">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="4%">
      <mat-card fxFlex="48" class="card">
        <h3>Sex</h3>
        <span class="subheader">Click on legend to exclude item</span>
        <hr>
        <canvas baseChart
                [datasets]="sexChartData"
                [labels]="sexChartLabels"
                [type]="'pie'"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="true">
        </canvas>

      </mat-card>

      <mat-card fxFlex="48" class="card">
        <h3>Paper published</h3>
        <span class="subheader">Click on legend to exclude item</span>
        <hr>
        <canvas baseChart
                [datasets]="paperChartData"
                [labels]="paperChartLabels"
                [type]="'pie'"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="true">
        </canvas>
      </mat-card>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="4%">
      <mat-card fxFlex="48" class="card">
        <h3>Organisms</h3>
        <span class="subheader">Hover over bar to see full name</span>
        <hr>
        <canvas baseChart
                [data]="organismChartData"
                [type]="'bar'"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="false">
        </canvas>

      </mat-card>

      <mat-card fxFlex="48" class="card">
        <h3>Standard</h3>
        <span class="subheader">Click on legend to exclude item</span>
        <hr>
        <canvas baseChart
                [labels]="standardChartLabels"
                [datasets]="standardChartData"
                [options]="doughnutChartOptions"
                [legend]="true"
                [type]="'doughnut'">
        </canvas>

      </mat-card>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="4%">
      <mat-card fxFlex="48" class="card">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between" >
          <h3>Breeds of <i class="subheader">{{name}}</i></h3>
          <div class="btn-group" dropdown>
            <button mat-raised-button color="primary" id="button-basic" dropdownToggle class="dropdown-toggle"
                    aria-controls="dropdown-basic">
              Choose organism <span class="caret"></span>
            </button> ---> {{breedKeys}}
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem" *ngFor="let breed of breedKeys">
                <a class="dropdown-item" (click)="onItemClick(breed)" style="cursor: pointer">{{breed}}</a>
              </li>
            </ul>
          </div>
        </div>
        <span class="subheader">Hover over bar to see full name</span>
        <hr>
<!--        <canvas baseChart-->
<!--                [data]="breedChartData"-->
<!--                [labels]="breedChartLabels"-->
<!--                [chartType]="'bar'"-->
<!--                [options]="barChartOptions"-->
<!--                [plugins]="barChartPlugins"-->
<!--                [legend]="false">-->
<!--        </canvas>-->

        <canvas baseChart
                [data]="organismChartData"
                [type]="'bar'"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="false">
        </canvas>

      </mat-card>
    </div>
  </div>

  <div *ngIf="error" fxLayout="row">
    <div fxFlex="100" class="alert alert-danger"><p>{{ error }}</p></div>
  </div>

</div>
