<app-header></app-header>
<div class="container-fluid">
    <div *ngIf="data && data.faang_data">
        <h2 style="padding-top: 30px;">{{data.faang_data?.ontology_id}}</h2>
        <hr>
        <dl fxLayout="column">
            <!-- ontology_term -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.faang_data.hasOwnProperty('ontology_term')">
                <dt fxFlex="25">Ontology Term:</dt>
                <dd fxFlex="75">{{data.faang_data?.ontology_term}}</dd>
            </div>
            <!-- type -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.faang_data.hasOwnProperty('ontology_type')">
                <dt fxFlex="25">Ontology Type:</dt>
                <dd fxFlex="75">{{data.faang_data?.ontology_type}}</dd>
            </div>
            <!-- status -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.faang_data.hasOwnProperty('ontology_status')">
                <dt fxFlex="25">Status:</dt>
                <dd fxFlex="75">
                    <button mat-flat-button class="table-color-status" 
                        [style.background-color]="getColour(data.faang_data.ontology_support, data.faang_data.ontology_status, 0.2)"
                        style="border-width: 2px; cursor: default">
                        {{data.faang_data.ontology_status}}
                        <span *ngIf="data.faang_data.ontology_status == 'Verified'">
                            by {{data.faang_data.verified_count}}
                            <span *ngIf="data.faang_data.verified_count == 1">
                                user
                            </span>
                            <span *ngIf="data.faang_data.verified_count > 1">
                                users
                            </span>
                        </span>
                    </button>
                </dd>
            </div>
            <!-- project -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.faang_data.hasOwnProperty('project') && data.faang_data.project">
                <dt fxFlex="25">Project:</dt>
                <dd fxFlex="75">{{data.faang_data?.project}}</dd>
            </div>
            <!-- tags -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.faang_data.hasOwnProperty('tags') && data.faang_data.tags">
                <dt fxFlex="25">Tags:</dt>
                <dd fxFlex="75">{{data.faang_data?.tags}}</dd>
            </div>
        </dl>
        <hr>
        <dl fxLayout="column">
            <!-- id -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.hasOwnProperty('id')">
                <dt fxFlex="25">Ontology ID:</dt>
                <dd fxFlex="75">{{data?.id}}</dd>
            </div>
            <!-- label -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.hasOwnProperty('id')">
                <dt fxFlex="25">Ontology Label:</dt>
                <dd fxFlex="75">{{data?.label}}</dd>
            </div>
            <!-- iri -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.hasOwnProperty('iri')">
                <dt fxFlex="25">Ontology IRI:</dt>
                <dd fxFlex="75">
                    <a [href]="data?.iri" target="_blank" style="color: #0056b3;">{{data?.iri}}</a>
                </dd>
            </div>
            <!-- summary -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.hasOwnProperty('summary')">
                <dt fxFlex="25">Summary:</dt>
                <dd fxFlex="75">{{data?.summary}}</dd>
            </div>
            <!-- synonyms -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.hasOwnProperty('synonyms')">
                <dt fxFlex="25">Synonyms:</dt>
                <dd fxFlex="75">
                    <div *ngFor="let syn of data.synonyms" style="padding-bottom: 5px;">
                        {{syn}}
                    </div>
                </dd>
            </div>
            <!-- related_synonyms -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.hasOwnProperty('related_synonyms')">
                <dt fxFlex="25">Related Synonyms:</dt>
                <dd fxFlex="75">
                    <div *ngFor="let rel_syn of data.related_synonyms" style="padding-bottom: 5px;">
                        {{rel_syn}}
                    </div>
                </dd>
            </div>
            <!-- alternative_id -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.hasOwnProperty('alternative_id')">
                <dt fxFlex="25">Alternative IDs:</dt>
                <dd fxFlex="75">
                    <div *ngFor="let alt_id of data.alternative_id" style="padding-bottom: 5px;">
                        {{alt_id}}
                    </div>
                </dd>
            </div>
            <!-- database_cross_reference -->
            <div fxLayout="row" fxLayout.lt-md="column"  *ngIf="data.hasOwnProperty('database_cross_reference')">
                <dt fxFlex="25">Database Cross References:</dt>
                <dd fxFlex="75">
                    <div *ngFor="let ref of data.database_cross_reference" style="padding-bottom: 5px;">
                        {{ref}}
                    </div>
                </dd>
            </div>
        </dl>
    </div>
</div>
