<div *ngIf="fileList?.hits.total > 0">
  <h3>Files</h3>
    <table class="table table-striped table-hover table-responsive">
      <thead>
      <tr>
        <th>Name</th>
        <th>Archive</th>
        <th>Experiment</th>
        <th>Run</th>
        <th>Assay type</th>
        <th>Experiment target</th>
        <th>Download</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let file of fileList?.hits.hits | paginate: { itemsPerPage: 10, currentPage: p}">
        <tr>
          <td><app-robust-link prefix="../file/" [link]="file?._id" [text]="file?._id"></app-robust-link></td>
          <td>{{file?._source.archive}}</td>
          <td>
            <app-robust-link prefix="http://www.ebi.ac.uk/ena/data/view/" [link]="file?._source.experiment.accession" [text]="file?._source.experiment.accession"></app-robust-link>
          </td>
          <td>
            <app-robust-link prefix="http://www.ebi.ac.uk/ena/data/view/" [link]="file?._source.run.accession" [text]="file?._source.run.accession"></app-robust-link>
          </td>
          <td>{{file?._source.experiment?.assayType}}</td>
          <td>{{file?._source.experiment?.target}}</td>
          <td><a href="ftp://{{file?._source.url}}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
