.centered-container {
  display: flex;
  justify-content: center;
}

.search-container {
  text-align: center;
}

input[type="text"] {
  height: 40px;
  width: 500px;
}

.input-group button {
  height: 40px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

mat-icon {
  horiz-align: center;
  vertical-align: middle;
}

.disabled {
  opacity: 0.5;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-with-margin {
  margin-top: 50px;
}

#search-results {
  margin-top: 50px;
}

mat-list-item:nth-child(n){
  height: auto;
}

.row-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: 150px;
}

.search-terms-container {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.link-style {
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  color: #477AAF;
}
