<div class="container">
  <app-header></app-header>
  <h1 class="text-center">{{articleId}}</h1>
  <dl class="dl-horizontal">
    <div *ngIf=" article && article.hasOwnProperty('id')">
      <dt>ID:</dt> <dd>{{ article.id }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('source')">
      <dt>Source:</dt> <dd>{{ article.source }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('pmid')">
      <dt>PMID:</dt> <dd>{{ article.pmid }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('pmcid')">
      <dt>PMCID:</dt> <dd>{{ article.pmcid }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('doi')">
      <dt>DOI:</dt> <dd>{{ article.doi }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('title')">
      <dt>Title:</dt> <dd>{{ article.title }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('authorString')">
      <dt>Authors:</dt> <dd>{{ article.authorString }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('journalTitle')">
      <dt>Journal title:</dt> <dd>{{ article.journalTitle }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('journalVolume')">
      <dt>Journal volume:</dt> <dd>{{ article.journalVolume }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('pubYear')">
      <dt>Publication year:</dt> <dd>{{ article.pubYear }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('journalIssn')">
      <dt>Journal ISSN:</dt> <dd>{{ article.journalIssn }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('pageInfo')">
      <dt>Page:</dt> <dd>{{ article.pageInfo }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('pubType')">
      <dt>Publication type:</dt> <dd>{{ article.pubType }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('isOpenAccess')">
      <dt>Is open access:</dt> <dd>{{ article.isOpenAccess }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('inEPMC')">
      <dt>In EPMC:</dt> <dd>{{ article.inEPMC }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('inPMC')">
      <dt>In PMC:</dt> <dd>{{ article.inPMC }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('hasPDF')">
      <dt>Has PDF:</dt> <dd>{{ article.hasPDF }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('hasBook')">
      <dt>Has book:</dt> <dd>{{ article.hasBook }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('hasSuppl')">
      <dt>Has supplementary:</dt> <dd>{{ article.hasSuppl }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('citedByCount')">
      <dt>Cited by count:</dt> <dd>{{ article.citedByCount }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('hasReferences')">
      <dt>Has references:</dt> <dd>{{ article.hasReferences }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('hasTextMinedTerms')">
      <dt>Has text mined terms:</dt> <dd>{{ article.hasTextMinedTerms }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('hasDbCrossReferences')">
      <dt>Has Db cross references:</dt> <dd>{{ article.hasDbCrossReferences }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('hasLabsLinks')">
      <dt>Has labs links:</dt> <dd>{{ article.hasLabsLinks }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('hasTMAccessionNumbers')">
      <dt>Has TMA accession numbers:</dt> <dd>{{ article.hasTMAccessionNumbers }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('firstPublicationDate')">
      <dt>First publication date:</dt> <dd>{{ article.firstPublicationDate }}</dd>
    </div>
    <div *ngIf=" article && article.hasOwnProperty('issue')">
      <dt>Issue:</dt> <dd>{{ article.issue }}</dd>
    </div>
  </dl>
  <div class="alert alert-danger" *ngIf="error"><p>{{ error }}</p></div>
</div>
