<div class="container-fluid">
  <app-header></app-header>
  <div *ngIf="article">
    <h2>{{id}}</h2>
    <hr>
    <dl fxLayout="column">

      <div fxLayout="row">
        <dt fxFlex="25">Paper Title:</dt>
        <dd fxFlex="75">{{article?.title}}</dd>
      </div>

      <div fxLayout="row">
        <dt fxFlex="25">Author(s):</dt>
        <dd fxFlex="75">{{article?.authorString}}</dd>
      </div>

      <div fxLayout="row" *ngIf="article?.journal">
        <dt fxFlex="25">Journal Name:</dt>
        <dd fxFlex="75">{{article?.journal}}</dd>
      </div>

      <div fxLayout="row" *ngIf="article?.issue">
        <dt fxFlex="25">Journal Issue:</dt>
        <dd fxFlex="75">{{article?.issue}}</dd>
      </div>

      <div fxLayout="row" *ngIf="article?.volume">
        <dt fxFlex="25">Journal Volume:</dt>
        <dd fxFlex="75">{{article?.volume}}
        </dd>
      </div>

      <div fxLayout="row" *ngIf="article?.pages">
        <dt fxFlex="25">Journal Page:</dt>
        <dd fxFlex="75">{{article?.pages}}
        </dd>
      </div>

      <div fxLayout="row" *ngIf="article?.pmcId">
        <dt fxFlex="25">Europe PMC:</dt>
        <dd fxFlex="75">
          <app-robust-link [prefix]="epmc_prefix" [link]="article.pmcId"
                             [text]="article.pmcId"></app-robust-link>
        </dd>
      </div>

      <div fxLayout="row" *ngIf="article?.pubmedId">
        <dt fxFlex="25">PubMed:</dt>
        <dd fxFlex="75">
          <app-robust-link [prefix]="pubmed_prefix" [link]="article.pubmedId"
                             [text]="article.pubmedId"></app-robust-link>
        </dd>
      </div>

      <div fxLayout="row" *ngIf="article?.doi">
        <dt fxFlex="25">DOI:</dt>
        <dd fxFlex="75">
          <app-robust-link [prefix]="doi_prefix" [link]="article.doi"
                             [text]="article.doi"></app-robust-link>
        </dd>
      </div>

      <div fxLayout="row" *ngIf="article?.datasetSource">
        <dt fxFlex="25">Dataset source:</dt>
        <dd fxFlex="75">{{article?.datasetSource}}</dd>
      </div>
    </dl>

    <app-related-items source_type="publication" target_type="dataset"
                       download_key="" [record_id]="id"></app-related-items>

  </div>
  <div class="alert alert-danger" *ngIf="error"><p>{{ error }}</p></div>
</div>
