<div class="container">
  <app-header></app-header>
  <ng-container *ngIf="article">
    <h1 class="text-center">{{id}}</h1>
    <dl class="row">

      <dt class="col-sm-3">Paper Title:</dt>
      <dd class="col-sm-9">{{article?.title}}</dd>

      <dt class="col-sm-3">Author(s):</dt>
      <dd class="col-sm-9">{{article?.authorString}}</dd>

      <ng-container *ngIf="article?.journal">
        <dt class="col-sm-3">Journal Name:</dt>
        <dd class="col-sm-9">{{article?.journal}}</dd>
      </ng-container>

      <ng-container *ngIf="article?.issue">
        <dt class="col-sm-3">Journal Issue:</dt>
        <dd class="col-sm-9">{{article?.issue}}</dd>
      </ng-container>

      <ng-container *ngIf="article?.volume">
        <dt class="col-sm-3">Journal Volume:</dt>
        <dd class="col-sm-9">{{article?.volume}}
        </dd>
      </ng-container>

      <ng-container *ngIf="article?.pages">
        <dt class="col-sm-3">Journal Page:</dt>
        <dd class="col-sm-9">{{article?.pages}}
        </dd>
      </ng-container>

      <ng-container *ngIf="article?.pmcId">
        <dt class="col-sm-3">Europe PMC:</dt>
        <dd class="col-sm-9"><app-robust-link [prefix]="epmc_prefix" [link]="article.pmcId"
                             [text]="article.pmcId"></app-robust-link>
        </dd>
      </ng-container>

      <ng-container *ngIf="article?.pubmedId">
        <dt class="col-sm-3">PubMed:</dt>
        <dd class="col-sm-9"><app-robust-link [prefix]="pubmed_prefix" [link]="article.pubmedId"
                             [text]="article.pubmedId"></app-robust-link>
        </dd>
      </ng-container>

      <ng-container *ngIf="article?.doi">
        <dt class="col-sm-3">DOI:</dt>
        <dd class="col-sm-9"><app-robust-link [prefix]="doi_prefix" [link]="article.doi"
                             [text]="article.doi"></app-robust-link>
        </dd>
      </ng-container>

      <ng-container *ngIf="article?.datasetSource">
        <dt class="col-sm-3">Dataset source:</dt>
        <dd class="col-sm-9">{{article?.datasetSource}}</dd>
      </ng-container>
    </dl>

    <app-related-items source_type="publication" target_type="dataset"
                       download_key="" [record_id]="id"></app-related-items>

  </ng-container>
  <div class="alert alert-danger" *ngIf="error"><p>{{ error }}</p></div>
</div>
