<h3>Filters</h3>
<ul class="list-group">
  <li class="list-group-item disabled title">
    Sex
  </li>
  <button class="list-group-item" type="button">
    <span class="badge">14</span>
    Male
  </button>
  <button class="list-group-item" type="button">
    <span class="badge">14</span>
    Female
  </button>
</ul>
<ul class="list-group">
  <li class="list-group-item disabled title">
    Organism
  </li>
  <button class="list-group-item" type="button">
    <span class="badge">14</span>
    Gallus gallus
  </button>
  <button class="list-group-item" type="button">
    <span class="badge">14</span>
    Bos taurus
  </button>
</ul>