button {
    margin-left: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}

a {
    color: white;
}

.table-header {
  background-color: rgba(0, 0, 0, 0.07);
  font-size: 14px;
  color: black;
  font-weight: 600;
  padding: 6px !important;
}

.table-cell-data {
  padding: 6px !important;
  max-width: 180px;
  min-width: 180px;
  overflow-wrap: break-word;
}

td.mat-cell:first-of-type, 
td.mat-footer-cell:first-of-type, 
th.mat-header-cell:first-of-type {
  padding-left: 10px;
}