<div class="container" style="min-height:87vh">
  <app-header></app-header>
  <h2>BovReg</h2>
  <div class="row first-row">
    <div class="col-md-6">
      <h5>
        Coming soon...
      </h5>
    </div>
    <div class="col-md-6 text-center">
      <img src="../../../assets/funding_logo.png" alt="Funding Logo" class="funding-logo">
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <h5>
        Coming soon...
      </h5>
    </div>
    <div class="col-md-8 text-center">
      <h5>
        Coming soon...
      </h5>
    </div>
  </div>

  <app-related-items source_type="project" target_type="paper" download_key="" [record_id]=""></app-related-items>
  <app-related-items source_type="project" target_type="specimen" download_key="" [record_id]=""></app-related-items>
  <app-related-items source_type="project" target_type="file" download_key="" [record_id]=""></app-related-items>
</div>
