#left {
  margin-top: 10px;
  margin-bottom: 10px;
}

#right {
  margin-top: 10px;
  margin-bottom: 10px;
}

.validation_button {
  margin: 15px 5px 5px 0;
}

.submission_data_button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal-button {
  margin-top: 10px;
}

button {
  margin-left: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}

a {
  color: white;
}

.link {
  color: #0074D9;
}

.form-danger {
  margin-top: 5px;
}

.container {
  margin-bottom: 100px;
}

.table-header {
  background-color: rgba(0, 0, 0, 0.07);
  font-size: 14px;
  color: black;
  font-weight: 600;
  padding: 6px !important;
}

.table-cell-data {
  padding: 6px !important;
  max-width: 200px;
  min-width: 200px;
  overflow-wrap: break-word;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 10px;
}

/deep/ .yellow-tooltip {
  background-color: rgb(255,250,230);
  font-size: 14px;
  color: #212529 !important;
  max-width: unset !important;
  white-space: pre-line;
}

a .emailStyle{
  color: steelblue;
}

::ng-deep .mat-expansion-panel {
  background-color: #FFCCCB;
  color: #49494A;
}

mat-expansion-panel-header {
  font-weight: 900;
  color: #49494A;
}

mat-panel-title {
  color: #49494A;
}

.table-danger {
  background-color: #f8d7da;
  color: #000;
  border-color: #dfc2c4;
}

.table-warning {
  background-color: #fff3cd;
  color: #000;
  border-color: #e6dbb9;
}
