<ng-container *ngIf="setting">
  <app-header></app-header>
  <div class="container-fluid" style="min-height:87vh">
    <hr>
    <div class="spacer" *ngIf="_userService.token">
      <div class="alert alert-info" role="alert">
        <p>
          You are logged in as {{ _userService.username }}. <br>
          Token Expires: {{ _userService.token_expires }}
        </p>
        <button mat-raised-button color="primary" (click)="_userService.refreshToken()">Refresh Token</button>&nbsp;
        <button mat-raised-button color="primary" (click)="logout()">Log Out</button>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" class="spacer">
      <div fxFlex="50">
        <img src="{{setting.image.url}}" alt="Project Logo"
             [ngClass]="{'small-project-logo':project==='AQUA-FAANG' || project==='BovReg', 'large-project-logo':project!=='AQUA-FAANG' && project!=='BovReg'}">
      </div>
      <div fxFlex="50">
        <img src="{{ project === 'Bovine' ? right_logo_url['bovine'] : right_logo_url['other'] }}"
              alt="Funding Logo"
              [ngClass]="project!=='AQUA-FAANG' && project!=='BovReg' ? 'large-project-logo funding-logo' : 'small-project-logo funding-logo'">
      </div>
    </div>
    <h3 class="spacer">
      <a href="{{setting.url}}">{{setting.url}}</a>
    </h3>

    <div *ngIf="!_userService.token && project === 'BovReg'"
      fxLayout="row" fxLayout.lt-md="column" style="margin-bottom: 30px;">
      <button mat-raised-button color="primary" (click)="login()">Login to BovReg Portal</button>
    </div>

    <ng-container *ngIf="project !== 'EuroFAANG'; else eurofaangProject">
      <div class="spacer" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%">
        <mat-card class="card scroll" fxFlex="50" fxFlex.lt-md="100" *ngIf="project === 'Bovine'">
          <h5>{{setting.description}}</h5>
        </mat-card>
        <mat-card class="card" fxFlex="45" fxFlex.lt-md="100" *ngIf="project !== 'Bovine'" style="padding: 30px;">
          <h5>{{setting.description}}</h5>
        </mat-card>
<!--        <mat-card class="card" fxFlex="50" fxFlex.lt-md="100" *ngIf="project !== 'Bovine'" style="text-align: right;">-->
<!--          <a class="twitter-timeline" href="https://twitter.com/{{setting.twitter.id}}?ref_src=twsrc%5Etfw"-->
<!--             data-height="300"-->
<!--             data-theme="light"-->
<!--             data-width="100%"-->
<!--             data-chrome="noborders nofooter noscrollbar transparent"-->
<!--          >-->
<!--            Tweets by {{setting.twitter.id}}-->
<!--          </a>-->
<!--          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<!--        </mat-card>-->
      </div>

      <div class="project-link">
        For more information on the {{project}} project: <a href="{{project_links[project]}}" target='_blank'>
        {{project}} </a>
      </div>

      <app-ensembl-annotation [projectArr]="[project]"></app-ensembl-annotation>
      <!-- Related Tables -->
      <app-related-items source_type="project" target_type="publication" download_key=""
                         [record_id]="project"></app-related-items>
      <app-related-items source_type="project" target_type="pipeline" download_key=""
                         [record_id]="project"></app-related-items>
      <app-related-items source_type="project" target_type="dataset" download_key=""
                         [record_id]="project"></app-related-items>
      <app-related-items source_type="project" target_type="file" download_key="url"
                         [record_id]="project"></app-related-items>
      <app-related-items source_type="project" target_type="organism" download_key=""
                         [record_id]="project"></app-related-items>
      <app-related-items source_type="project" target_type="specimen" download_key=""
                         [record_id]="project"></app-related-items>

      <!-- Related Protocols -->
      <h3 *ngIf="getTotalEnabledStatus()"
        style="margin-bottom: 20px;">
        Related Protocols
      </h3>
      <mat-tab-group animationDuration="0ms" [selectedIndex]="getSelectedTab()">
        <ng-container *ngFor="let targetType of tabs">
            <mat-tab [label]="tabsConfig[targetType].title" [labelClass]="getEnabledStatus(targetType) ? '' : 'hidden-tab'">
              <app-related-items
                source_type="project"
                [target_type]="targetType"
                download_key=""
                [record_id]="project"
                (fetchedRecords)="enableTab($event)"
              ></app-related-items>
            </mat-tab>
        </ng-container>
      </mat-tab-group>


<!--      <app-custom-table-builder *ngIf="project == 'GENE-SWitCH'" [project]="project">-->
<!--      </app-custom-table-builder>-->
    </ng-container>

    <ng-template #eurofaangProject>
      <app-eurofaang-info></app-eurofaang-info>
    </ng-template>

  </div>
</ng-container>
