.funding-logo {
  float: right!important;
  max-width: 60%!important;
}

.small-project-logo {
  max-width:150px;
  max-height:150px;
  float: left;
  width:auto;
  height:auto;
  margin-bottom: 10px;
}

.large-project-logo {
  max-width:250px;
  max-height:250px;
  float: left;
  width:auto;
  height:auto;
  margin-bottom: 10px;
}

h3{
  clear: both;
}

.spacer {
  margin-top: 15px;
}

.scroll {
  overflow-y: scroll;
  height: 400px;
  padding-right: 20px;
}

div.keyproj{
  width: 100%;
}

.project-link {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-link a{
  text-decoration:none;
  color:#5199a8;
}

.project-link a:hover{
  color:#8dc7d3;
}

h5 {
  text-align: justify;
}
