li.list-group-item.title {
  cursor: default;
}
ul.long-list {
  max-height: 300px;
  overflow: scroll;
}
ul.list-group {
  margin-top: 0px;
}

li {
  cursor: pointer;
}

i {
  cursor: pointer;
}

/*the whole filter component*/
.card {
  /*width: 180px;*/
}

.card-header {
  background-color: #DCEDF5;
  color: #577C95;
}

.list-group-item {
  font-size: 14px;
}

.active {
  background-color: #477AAF;
}

.active>span {
  background-color: white;
  color: #477AAF;
}

h6 {
  font-size: 14px;
}
