li.list-group-item.title {
  cursor: default;
}
ul.long-list {
  max-height: 300px;
  overflow: scroll;
}
ul.list-group {
  margin-top: 0px;
}
/*span.badge {*/
/*  margin-left: px;*/
/*}*/

.card-header {
  font-size: 14px;
}

.list-group-item {
  font-size: 14px;
}
