<div class="card bg-lite mb-3">
  <h6 class="card-header">
    {{title}}
    <i class="material-icons float-right" *ngIf="aggregation?.length > filterSize && isCollapsed" (click)="toggleCollapse()">add</i>
    <i class="material-icons float-right" *ngIf="aggregation?.length > filterSize && !isCollapsed" (click)="toggleCollapse()">remove</i>
  </h6>
  <ul class="list-group" [ngClass]="{'long-list': itemLimit > filterSize}" *ngIf="title !== 'Protocol'">
    <ng-container *ngFor="let aggr of aggregation; let i = index">
      <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngIf="i<itemLimit && aggr[0] != ''"
          [ngClass]="{'active': aggregationService.current_active_filters && aggregationService.current_active_filters.indexOf(aggr[0])>-1}"
          (click)="onButtonClick(aggr[0], title)">
        {{aggr[0]}}
        <span class="badge badge-secondary badge-pill">{{aggr[1]}}</span>
      </li>
    </ng-container>
  </ul>

  <ul class="list-group" [ngClass]="{'long-list': itemLimit > filterSize}" *ngIf="title === 'Protocol'">
    <ng-container *ngFor="let aggr of aggregation; let i = index">
      <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngIf="i<itemLimit && aggr[0] != ''"
          [ngClass]="{'active': aggregationService.current_active_filters && aggregationService.current_active_filters.indexOf(getReverseHumanName(aggr[0]))>-1}"
          (click)="onButtonClick(aggr[0], title)">
        {{aggr[0]}}
        <span class="badge badge-secondary badge-pill">{{aggr[1]}}</span>
      </li>
    </ng-container>
  </ul>
</div>
