<div class="container">
  <app-header></app-header>
  <h1 class="text-center">{{biosampleId}}</h1>
  <dl class="row">

    <ng-container *ngIf="specimen && specimen.hasOwnProperty('name')">
      <dt class="col-sm-3">Name:</dt><dd class="col-sm-9">{{specimen?.name}}</dd>
    </ng-container>

    <ng-container *ngIf="specimen && specimen.hasOwnProperty('biosampleId')">
      <dt class="col-sm-3">BioSample ID:</dt> <dd class="col-sm-9"><a href="http://www.ebi.ac.uk/biosamples/samples/{{specimen?.biosampleId}}">{{specimen?.biosampleId}}</a></dd>
    </ng-container>

    <ng-container *ngIf="specimen && specimen.hasOwnProperty('alternativeId') && specimen.alternativeId.length !== 0">
      <dt class="col-sm-3">Alternative ID:</dt>
      <dd class="col-sm-9">{{specimen.alternativeId.toString()}}</dd>
    </ng-container>

    <ng-container *ngIf="specimen && specimen.hasOwnProperty('releaseDate')">
      <dt class="col-sm-3">Release date:</dt> <dd class="col-sm-9">{{specimen?.releaseDate}}</dd>
    </ng-container>

    <ng-container *ngIf="specimen && specimen.hasOwnProperty('updateDate')">
      <dt class="col-sm-3">Update date:</dt> <dd class="col-sm-9">{{specimen?.updateDate}}</dd>
    </ng-container>

    <ng-container *ngIf="(specimen?.material?.text !== 'pool of specimens' && specimen?.material?.text !=='cell line')">
      <ng-container *ngIf="specimen && specimen?.organism?.hasOwnProperty('sex')">
        <dt class="col-sm-3">Sex:</dt>
        <dd class="col-sm-9">
          <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.organism?.sex?.ontologyTerms" [text]="specimen?.organism?.sex?.text"></app-robust-link>
        </dd>
      </ng-container>

      <ng-container *ngIf="specimen && specimen?.organism?.hasOwnProperty('biosampleId')">
        <dt class="col-sm-3">Organism BioSample Id:</dt>
        <dd class="col-sm-9">
          <app-robust-link prefix="../organism/" [link]="specimen?.organism?.biosampleId" [text]="specimen?.organism?.biosampleId"></app-robust-link>
        </dd>
      </ng-container>

      <ng-container *ngIf="specimen && specimen?.organism?.hasOwnProperty('organism')">
        <dt class="col-sm-3">Organism:</dt>
        <dd class="col-sm-9">
          <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.organism?.organism?.ontologyTerms" [text]="specimen?.organism?.organism?.text"></app-robust-link>
        </dd>
      </ng-container>

      <ng-container *ngIf="specimen && specimen?.organism?.hasOwnProperty('breed')">
        <dt class="col-sm-3">Breed:</dt>
        <dd class="col-sm-9">
          <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.organism?.breed?.ontologyTerms" [text]="specimen?.organism?.breed?.text"></app-robust-link>
        </dd>
      </ng-container>

      <ng-container *ngIf="specimen && specimen?.organism?.hasOwnProperty('healthStatus')">
        <dt class="col-sm-3">Health status:</dt>
        <dd class="col-sm-9">
          <ng-container *ngFor="let status of specimen?.organism?.healthStatus;">
            <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="status.ontologyTerms" [text]="status.text"></app-robust-link>
          </ng-container>
        </dd>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="specimen?.description">
      <dt class="col-sm-3">Description:</dt> <dd class="col-sm-9">{{specimen?.description}}</dd>
    </ng-container>

    <ng-container *ngIf="specimen && specimen.hasOwnProperty('standardMet')">
      <dt class="col-sm-3">Standard met:</dt> <dd class="col-sm-9">{{specimen?.standardMet}}</dd>
    </ng-container>

    <ng-container *ngIf="specimen && specimen.hasOwnProperty('project')">
      <dt class="col-sm-3">Project:</dt> <dd class="col-sm-9">{{specimen?.project}}</dd>
    </ng-container>

    <ng-container *ngIf="specimen?.availability">
      <dt class="col-sm-3">Availability:</dt> <dd class="col-sm-9"><a href={{specimen?.availability}}>{{dealWithAvailability(specimen?.availability)}}</a></dd>
    </ng-container>

    <ng-container *ngIf="specimen && specimen?.hasOwnProperty('organization')">
      <dt class="col-sm-3">Organisation:</dt>
      <dd class="col-sm-9">
        <ng-container *ngFor="let organization of specimen?.organization;">
          <app-robust-link [link]="organization.URL" [text]="organization.name"></app-robust-link> ( {{organization.role}})
        </ng-container>
      </dd>
    </ng-container>

    <ng-container *ngIf="specimen && specimen?.hasOwnProperty('material')">
      <dt class="col-sm-3">Material:</dt>
      <dd class="col-sm-9">
        <app-robust-link  prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.material?.ontologyTerms" [text]="specimen?.material?.text"></app-robust-link>
      </dd>
    </ng-container>

    <ng-container *ngIf="specimen?.sameAs">
      <dt class="col-sm-3">Same as:</dt> <dd class="col-sm-9">{{specimen?.sameAs}}</dd>
    </ng-container>

    <ng-container *ngIf="specimen?.derivedFrom">
      <dt class="col-sm-3">Derived from:</dt>
      <dd class="col-sm-9">
      <ng-container [ngSwitch]="specimen?.material?.text">
        <ng-template ngSwitchCase="pool of specimens">
          <ng-container *ngFor="let derived of specimen?.derivedFrom; let i = index">
            <!--            <robust-link prefix="http://www.ebi.ac.uk/biosamples/samples/" [link]="derived" [text]="derived"></robust-link>-->
            <ng-container *ngIf="i > 0">, </ng-container>
            <app-robust-link prefix="../specimen/" [link]="derived" [text]="derived"></app-robust-link>
          </ng-container>
        </ng-template>
        <ng-template ngSwitchCase="cell specimen"> <!--ruleset constrain: specimen from organism-->
          <app-robust-link prefix="../specimen/" [link]="specimen?.derivedFrom" [text]="specimen?.derivedFrom"></app-robust-link>
        </ng-template>
        <ng-template ngSwitchCase="cell culture"> <!--ruleset constrain: specimen from organism or cell specimen-->
          <app-robust-link prefix="../specimen/" [link]="specimen?.derivedFrom" [text]="specimen?.derivedFrom"></app-robust-link>
        </ng-template>
        <ng-template ngSwitchDefault>
          <app-robust-link prefix="../organism/" [link]="specimen?.derivedFrom" [text]="specimen?.derivedFrom"></app-robust-link>
        </ng-template>
      </ng-container>
    </dd>
    </ng-container>

    <ng-container [ngSwitch]="specimen?.material?.text">
      <ng-template ngSwitchCase="specimen from organism">
        <ng-container *ngIf="specimen && specimen?.specimenFromOrganism?.hasOwnProperty('specimenCollectionDate')">
          <dt class="col-sm-3">Specimen collection date:</dt> <dd class="col-sm-9">{{specimen?.specimenFromOrganism?.specimenCollectionDate?.text}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.specimenFromOrganism?.hasOwnProperty('animalAgeAtCollection')">
          <dt class="col-sm-3">Animal age at collection:</dt> <dd class="col-sm-9">{{specimen?.specimenFromOrganism?.animalAgeAtCollection?.text}} {{specimen?.specimenFromOrganism?.animalAgeAtCollection?.unit}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.specimenFromOrganism?.hasOwnProperty('developmentalStage')">
          <dt class="col-sm-3">Developmental stage:</dt>
          <dd class="col-sm-9">
            <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.specimenFromOrganism?.developmentalStage?.ontologyTerms" [text]="specimen?.specimenFromOrganism?.developmentalStage?.text"></app-robust-link>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.specimenFromOrganism?.hasOwnProperty('organismPart')">
          <dt class="col-sm-3">Organism part:</dt>
          <dd class="col-sm-9">
            <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.specimenFromOrganism?.organismPart?.ontologyTerms" [text]="specimen?.specimenFromOrganism?.organismPart?.text"></app-robust-link>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.specimenFromOrganism?.hasOwnProperty('specimenCollectionProtocol')">
          <dt class="col-sm-3">Specimen collection protocol:</dt>
          <dd class="col-sm-9">
            <ng-container *ngIf="specimen?.specimenFromOrganism?.specimenCollectionProtocol?.filename">
              <app-robust-link [link]="getProtocolLink()" [text]="specimen?.specimenFromOrganism?.specimenCollectionProtocol?.filename"></app-robust-link>
              <a href={{specimen?.specimenFromOrganism?.specimenCollectionProtocol?.url}}><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </ng-container>
            <ng-container *ngIf="!specimen?.specimenFromOrganism?.specimenCollectionProtocol?.filename">
              <app-robust-link [link]="specimen?.specimenFromOrganism?.specimenCollectionProtocol?.url" [text]="specimen?.specimenFromOrganism?.specimenCollectionProtocol?.filename"></app-robust-link>
            </ng-container>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen?.specimenFromOrganism?.fastedStatus">
          <dt class="col-sm-3">Fasted status:</dt> <dd class="col-sm-9">{{specimen?.specimenFromOrganism?.fastedStatus}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.specimenFromOrganism?.numberOfPieces?.text">
          <dt class="col-sm-3">Number of pieces:</dt> <dd class="col-sm-9">{{specimen?.specimenFromOrganism?.numberOfPieces?.text}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.specimenFromOrganism?.specimenVolume?.text">
          <dt class="col-sm-3">Specimen volume:</dt> <dd class="col-sm-9">{{specimen?.specimenFromOrganism?.specimenVolume?.text}} {{specimen?.specimenFromOrganism?.specimenVolume?.unit}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.specimenFromOrganism?.specimenSize?.text">
          <dt class="col-sm-3">Specimen size:</dt> <dd class="col-sm-9">{{specimen?.specimenFromOrganism?.specimenSize?.text}} {{specimen?.specimenFromOrganism?.specimenSize?.unit}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.specimenFromOrganism?.specimenWeight?.text">
          <dt class="col-sm-3">Specimen weight:</dt> <dd class="col-sm-9">{{specimen?.specimenFromOrganism?.specimenWeight?.text}} {{specimen?.specimenFromOrganism?.specimenWeight?.unit}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen.specimenFromOrganism?.hasOwnProperty('specimenPictureUrl') && specimen.specimenFromOrganism.specimenPictureUrl.length !== 0">
          <dt class="col-sm-3">Specimen picture URL:</dt>
          <dd class="col-sm-9">{{specimen.specimenFromOrganism.specimenPictureUrl.toString()}}</dd>
<!--          <dd>
            <app-robust-link [link]="specimen?.specimenFromOrganism?.specimenPictureUrl" [text]="specimen?.specimenFromOrganism?.specimenPictureUrl"></app-robust-link>
          </dd>-->
        </ng-container>

        <ng-container *ngIf="specimen?.specimenFromOrganism?.gestationalAgeAtSampleCollection?.text">
          <dt class="col-sm-3">Gestational age at sample collection:</dt> <dd class="col-sm-9">{{specimen?.specimenFromOrganism?.gestationalAgeAtSampleCollection?.text}} {{specimen?.specimenFromOrganism?.gestationalAgeAtSampleCollection?.unit}}</dd>
        </ng-container>
      </ng-template>

      <ng-template ngSwitchCase="pool of specimens">
        <ng-container *ngIf="specimen && specimen.poolOfSpecimens.hasOwnProperty('poolCreationDate')">
          <dt>Pool creation date:</dt><dd>{{specimen.poolOfSpecimens.poolCreationDate.text}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.poolOfSpecimens?.hasOwnProperty('poolCreationProtocol')">
          <dt class="col-sm-3">Pool creation protocol:</dt>
          <dd class="col-sm-9">
            <ng-container *ngIf="specimen?.poolOfSpecimens?.poolCreationProtocol?.filename">
              <app-robust-link [link]="specimen?.poolOfSpecimens?.poolCreationProtocol?.url" [text]="specimen?.poolOfSpecimens?.poolCreationProtocol?.filename"></app-robust-link>
              <a href={{specimen?.poolOfSpecimens?.poolCreationProtocol?.url}}><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </ng-container>
            <ng-container *ngIf="!specimen?.poolOfSpecimens?.poolCreationProtocol?.filename">
              <app-robust-link [link]="specimen?.poolOfSpecimens?.poolCreationProtocol?.url" [text]="specimen?.poolOfSpecimens?.poolCreationProtocol?.filename"></app-robust-link>
            </ng-container>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen?.poolOfSpecimens?.specimenVolume?.text">
          <dt class="col-sm-3">Specimen volume:</dt> <dd class="col-sm-9">{{specimen.poolOfSpecimens.specimenVolume.text}} {{specimen.poolOfSpecimens.specimenVolume.unit}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.poolOfSpecimens?.specimenSize?.text">
          <dt class="col-sm-3">Specimen size:</dt> <dd class="col-sm-9">{{specimen.poolOfSpecimens.specimenSize.text}} {{specimen.poolOfSpecimens.specimenSize.unit}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.poolOfSpecimens?.specimenWeight?.text">
          <dt class="col-sm-3">Specimen weight:</dt> <dd class="col-sm-9">{{specimen.poolOfSpecimens.specimenWeight.text}} {{specimen.poolOfSpecimens.specimenWeight.unit}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen.poolOfSpecimens?.hasOwnProperty('specimenPictureUrl') && specimen.poolOfSpecimens.specimenPictureUrl.length !== 0">
          <dt class="col-sm-3">Specimen picture URL:</dt>
          <dd class="col-sm-9">{{specimen.poolOfSpecimens.specimenPictureUrl.toString()}}</dd>
<!--          <dd>
            <app-robust-link [link]="specimen?.specimenFromOrganism?.specimenPictureUrl" [text]="specimen?.specimenFromOrganism?.specimenPictureUrl"></app-robust-link>
          </dd>-->
        </ng-container>
      </ng-template>

      <ng-template ngSwitchCase="cell specimen">

        <ng-container *ngIf="specimen?.cellSpecimen?.markers">
          <dt class="col-sm-3">Markers:</dt> <dd class="col-sm-9">{{specimen.cellSpecimen.markers}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.cellSpecimen?.hasOwnProperty('cellType')">
          <dt class="col-sm-3">Cell type:</dt>
          <dd class="col-sm-9">
            <ng-container *ngFor="let type of specimen?.cellSpecimen?.cellType;">
              <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="type?.ontologyTerms[0]" [text]="type?.text"></app-robust-link>
            </ng-container>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.cellSpecimen?.hasOwnProperty('purificationProtocol')">
          <dt class="col-sm-3">Purification protocol:</dt>
          <dd class="col-sm-9">
            <ng-container *ngIf="specimen?.cellSpecimen?.purificationProtocol?.filename">
              <app-robust-link [link]="specimen?.cellSpecimen?.purificationProtocol?.url" [text]="specimen?.cellSpecimen?.purificationProtocol?.filename"></app-robust-link>
              <a href={{specimen?.cellSpecimen?.purificationProtocol?.url}}><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </ng-container>
            <ng-container *ngIf="!specimen?.cellSpecimen?.purificationProtocol?.filename">
              <app-robust-link [link]="specimen?.cellSpecimen?.purificationProtocol?.url" [text]="specimen?.cellSpecimen?.purificationProtocol?.url"></app-robust-link>
            </ng-container>
          </dd>
        </ng-container>

      </ng-template>

      <ng-template ngSwitchCase="cell culture">
        <ng-container *ngIf="specimen && specimen?.cellCulture?.hasOwnProperty('cultureType')">
          <dt class="col-sm-3">Culture type:</dt>
          <dd class="col-sm-9">
            <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.cellCulture?.cultureType?.ontologyTerms" [text]="specimen?.cellCulture?.cultureType?.text"></app-robust-link>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.cellCulture?.hasOwnProperty('cellType')">
          <dt class="col-sm-3">Cell type:</dt>
          <dd class="col-sm-9">
            <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.cellCulture?.cellType?.ontologyTerms" [text]="specimen?.cellCulture?.cellType?.text"></app-robust-link>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.cellCulture?.hasOwnProperty('cellCultureProtocol')">
          <dt class="col-sm-3">Cell culture protocol:</dt>
          <dd class="col-sm-9">
            <ng-container *ngIf="specimen?.cellCulture?.cellCultureProtocol?.filename">
              <app-robust-link [link]="specimen?.cellCulture?.cellCultureProtocol?.url" [text]="specimen?.cellCulture?.cellCultureProtocol?.filename"></app-robust-link>
              <a href={{specimen?.cellCulture?.cellCultureProtocol?.url}}><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </ng-container>
            <ng-container *ngIf="!specimen?.cellCulture?.cellCultureProtocol?.filename">
              <app-robust-link [link]="specimen?.cellCulture?.cellCultureProtocol?.url" [text]="specimen?.cellCulture?.cellCultureProtocol?.url"></app-robust-link>
            </ng-container>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.cellCulture?.hasOwnProperty('cultureConditions')">
          <dt class="col-sm-3">Culture conditions:</dt> <dd class="col-sm-9">{{specimen?.cellCulture?.cultureConditions}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.cellCulture?.hasOwnProperty('numberOfPassages')">
          <dt class="col-sm-3">Number of passages:</dt> <dd class="col-sm-9">{{specimen?.cellCulture?.numberOfPassages}}</dd>
        </ng-container>
      </ng-template>

      <ng-template ngSwitchCase="cell line">
        <ng-container *ngIf="specimen && specimen?.cellLine?.hasOwnProperty('cellLine')">
          <dt class="col-sm-3">Cell line:</dt> <dd class="col-sm-9">{{specimen?.cellLine?.cellLine}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.cellLine?.hasOwnProperty('organism')">
          <dt class="col-sm-3">Organism: </dt>
          <dd class="col-sm-9">
            <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.cellLine?.organism?.ontologyTerms" [text]="specimen?.cellLine?.organism?.text"></app-robust-link>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.cellLine?.hasOwnProperty('sex')">
          <dt class="col-sm-3">Sex: </dt>
          <dd class="col-sm-9">
            <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.cellLine?.sex?.ontologyTerms" [text]="specimen?.cellLine?.sex?.text"></app-robust-link>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen && specimen?.cellLine?.hasOwnProperty('biomaterialProvider')">
          <dt class="col-sm-3">Biomaterial provider:</dt> <dd class="col-sm-9">{{specimen?.cellLine?.biomaterialProvider}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.cellLine?.catalogueNumber">
          <dt class="col-sm-3">Catalogue number:</dt> <dd class="col-sm-9">{{specimen.cellLine.catalogueNumber}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.cellLine?.numberOfPassages">
          <dt class="col-sm-3">Number of passages:</dt> <dd class="col-sm-9">{{specimen?.cellLine?.numberOfPassages}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.cellLine?.dateEstablished">
          <dt class="col-sm-3">Date established:</dt> <dd class="col-sm-9">{{specimen?.cellLine?.dateEstablished.text}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.cellLine?.publication">
          <dt class="col-sm-3">Publication:</dt> <dd class="col-sm-9">{{specimen.cellLine.publication}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.cellLine?.breed?.text">
          <dt class="col-sm-3">Breed:</dt>
          <dd class="col-sm-9">
            <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen.cellLine.breed.ontologyTerms" [text]="specimen.cellLine.breed.text"></app-robust-link>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen?.cellLine?.cellType?.text">
          <dt class="col-sm-3">Cell type:</dt>
          <dd class="col-sm-9">
            <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.cellLine?.cellType?.ontologyTerms" [text]="specimen?.cellLine?.cellType?.text"></app-robust-link>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen?.cellLine?.cultureConditions">
          <dt class="col-sm-3">Culture conditions:</dt> <dd class="col-sm-9">{{specimen.cellLine.cultureConditions}}</dd>
        </ng-container>

        <ng-container *ngIf="specimen?.cellLine?.cultureProtocol?.url">
          <dt class="col-sm-3">Culture protocol:</dt>
          <dd class="col-sm-9">
            <ng-container *ngIf="specimen.cellLine.cultureprotocol.filename">
              <app-robust-link [link]="specimen.cellLine.cultureProtocol.url" [text]="specimen.cellLine.cultureProtocol.filename"></app-robust-link>
              <a href={{specimen?.cellLine.cultureProtocol.url}}><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </ng-container>
            <ng-container *ngIf="!specimen.cellLine.cultureprotocol.filename">
              <app-robust-link [link]="specimen.cellLine.cultureProtocol.url" [text]="specimen.cellLine.cultureProtocol.url"></app-robust-link>
            </ng-container>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen?.cellLine?.disease?.text">
          <dt class="col-sm-3">Disease:</dt>
          <dd class="col-sm-9">
            <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen.cellLine.disease.ontologyTerms" [text]="specimen.cellLine.disease.text"></app-robust-link>
          </dd>
        </ng-container>

        <ng-container *ngIf="specimen?.cellLine?.karyotype">
          <dt class="col-sm-3">Karyotype:</dt> <dd class="col-sm-9">{{specimen.cellLine.karyotype}}</dd>
        </ng-container>
      </ng-template>
      <ng-template ngSwitchDefault>Unrecgonizable specimen type</ng-template>
    </ng-container>

    <ng-container *ngIf="specimen?.customField?.length > 0;">
      <ng-container *ngFor="let field of specimen?.customField;">
        <ng-container *ngIf="field.name !== 'Sex'">
          <ng-container *ngIf="field.ontologyTerms || field.value">
            <dt class="col-sm-3">{{field.name}}:</dt>
            <dd class="col-sm-9">
              <app-robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="field.ontologyTerms" [text]="field.value"></app-robust-link>  {{field?.unit}}
            </dd>
          </ng-container>
          </ng-container>
      </ng-container>
    </ng-container>
  </dl>

  <hr>
  <div *ngIf="specimen?.paperPublished === 'true'" class="table-responsive">
    <h3>Published papers</h3>
    <table class="table table-striped table-hover table-borderless table-sm">
      <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Journal</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let paper of specimen.publishedArticles">
        <td><app-robust-link prefix="https://doi.org/" [link]="paper.doi" [text]="paper.title"></app-robust-link></td>
        <td>{{paper.year}}</td>
        <td>{{paper.journal}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-specimen-relationship [biosampleId]="biosampleId" *ngIf="biosampleId"></app-specimen-relationship>
  <app-specimen-files [biosampleId]="biosampleId" *ngIf="biosampleId"></app-specimen-files>
  <div class="alert alert-danger" *ngIf="error"><p>{{ error }}</p></div>
</div>


