<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title text-center">
      {{ organismHits?.total }} matching organism{{organismHits?.total == 1 ? '' : 's' }}
    </h4>
  </div>
  <div style="max-height: 200px; overflow: auto;">
    <table class="table table-striped table-hover table-responsive">
      <tbody>
        <tr *ngFor="let hit of organismHits?.hits" class="clickable" [routerLink]="['/organism', hit._id]">
          <td><a>{{hit._id}}</a></td>
          <td><a>{{hit?._source?.name}}</a></td>
          <td>{{hit?._source?.sex?.text}}</td>
          <td>{{hit?._source?.organism?.text}}</td>
          <td>{{hit?._source?.breed?.text}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>