<div class="container" style="min-height:87vh">
  <app-header></app-header>

  <div class="row">
    <form class="col-md-6 offset-md-3 clearfix">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="material-icons">search</i>
          </div>
        </div>
        <input type="text" class="form-control" (keyup)="search($event.target.value); addValue($event.target.value)" (keydown)="preventReload($event)" id="name" placeholder="Search FAANG"/>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="defaultCheck1" (click)="onCheckboxClick()">
        <label class="form-check-label" for="defaultCheck1">
          Show only FAANG data (exclude legacy data)
        </label>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <app-search-template entity="organism"></app-search-template>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <app-search-template entity="specimen"></app-search-template>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <app-search-template entity="file"></app-search-template>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <app-search-template entity="dataset"></app-search-template>
    </div>
  </div>

</div>

