<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title text-center">
      {{ fileHits?.total }} matching file{{fileHits?.total == 1 ? '' : 's' }}
    </h4>
  </div>
  <div style="max-height: 200px; overflow: auto;">
    <table class="table table-striped table-hover table-responsive">
      <tbody>
        <tr *ngFor="let hit of fileHits?.hits" class="clickable" [routerLink]="['/file', hit._id]">
          <td><a>{{hit._id}}</a></td>
          <td>{{hit?._source?.study?.accession}}</td>
          <td>{{hit?._source?.experiment?.accession}}</td>
          <td>{{hit?._source?.species?.text}}</td>
          <td>{{hit?._source?.specimen}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>