<div class="container">
<h1 class="text-center">{{biosampleId}}</h1>
<dl class="dl-horizontal">
  <dt>Name</dt><dd>{{organism?.name}}</dd>
  <dt>BioSample ID</dt><dd>{{organism?.biosampleId}}</dd>
  <dt>Sex</dt><dd>{{organism?.sex?.text}}</dd>
  <dt>Organism</dt><dd><a href="{{organism?.organism?.ontologyTerms}}">{{organism?.organism?.text}}</a></dd>
  <dt>Breed</dt><dd><a href="{{organism?.breed?.ontologyTerms}}">{{organism?.breed?.text}}</a></dd>
</dl>
<organism-specimens></organism-specimens>
</div>
