img.faang-logo {
  max-width: 70%;
}

@media (max-width: 767px) {
  img.faang-logo {
    width: 300px;
  }
}

.home-card {
  border: solid 0.2px rgba(0,0,0,0.15);
  padding: 16px;
}

p {
  font-size: 14px;
  font-family: Arial;
}

a {
  color: steelblue;
}

hr {
  width: 100%;
  background-color:#ccc;
}

mat-card {
  font-family: Roboto,Helvetica Neue,sans-serif;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 15px;
}
