<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      {{title}}<button type="button" class="btn btn-primary btn-xs pull-right" (click)="toggleCollapse()" *ngIf="aggs?.length > filterSize">{{isCollapsed ? "+" : "-"}}</button>
    </h4>
  </div>
  <ul class="list-group" [ngClass]="{'long-list': itemLimit > filterSize}">
    <ng-container class="list-group-item disabled" *ngFor="let field of aggs; let i=index">
      <button class="list-group-item" type="button" [ngClass]="{'active': isFiltered && isFiltered[field?.key]}" (click)="toggleFilter(field?.key)" *ngIf="i<itemLimit && field.key != ''">
        <span class="badge">{{field?.doc_count}}</span>
        {{field?.key}}
      </button>
    </ng-container>
  </ul>
</div>