
<!--https://github.com/andreasonny83/angular2-cookie-law-->
<!--#cookieLaw set reference into @ViewChild example https://github.com/andreasonny83/angular2-cookie-law/issues/14-->
<!--expiration date set to be 1000 days-->
<!--whenever the new privacy policy released, increase the [version] value, and the banner will turn up again-->
<!--when version is set to be 0, then the banner will be disabled-->
<app-cookie-law #cookieLaw position="top" (dismiss)="agree()" name="FaangCookieLaw" expiration=1000 [version]=0>
    Hello! Faang Cookie Law privacy
    <a href="/help">
      Click here for more info
    </a>
    <div align="right">
      <input type="checkbox" name="accepted" value="agree" (change)="changeAccepted($event)"> I have read the privacy policy and accepted it 
      <button class="gdpr-confirm-button" type="button" [disabled] = "!isAccepted()" (click)="agree()">Confirm</button>
    </div>
  </app-cookie-law>
  