
<!--https://github.com/andreasonny83/angular2-cookie-law-->
<!--#cookieLaw set reference into @ViewChild example https://github.com/andreasonny83/angular2-cookie-law/issues/14-->
<app-cookie-law #cookieLaw position="top" (dismiss)="agree()" name="FaangCookieLaw">
    Hello! Faang Cookie Law privacy version {{version}}
    <a href="/help">
      Click here for more info
    </a>
    <div align="right">
      <input type="checkbox" name="accepted" value="agree" (change)="changeAccepted($event)"> I have read the privacy policy and accepted it 
      <button class="gdpr-confirm-button" type="button" [disabled] = "!isAccepted()" (click)="agree()">Confirm</button>
    </div>
  </app-cookie-law>
  