<div style="padding-bottom: 50px;">
    <hr>
    <h3>Custom Queries</h3>
    <button *ngIf="tableData" class="btn btn-primary" (click)="downloadCSV()"
      style="float: right;">Download as CSV
    </button>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Indices to display</mat-label>
      <mat-select [formControl]="indices" [(value)]="selectedIndices" (selectionChange)="updateDefaults($event.value)" multiple>
        <mat-option *ngFor="let index of indicesList" [value]="index" [disabled]="isOptionDisabled(index)">
          {{index}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="selectedIndices" class="row">
      <div class="col-md-3" *ngFor="let index of selectedIndices">
        <h6>{{displayName(index)}}</h6>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Select columns to display</mat-label>
          <mat-select [(value)]="selectedColumns[index]" (selectionChange)="fetchRecords()" multiple>
            <mat-option *ngFor="let col of columnsByIndex[index]['columns']" [value]="col">
              {{col.replace('.text', '').split('.').join(' ')}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br>
    <div [ngStyle]="{'display': tableData ? 'block' : 'none'}" style="width: 100%; overflow-x: scroll;">
        <table mat-table matSort matSortDisableClear [dataSource]="tableData" table-striped style="width: 100%">
          <ng-container [matColumnDef]=col *ngFor="let col of columnNames; let i = index">
              <ng-container *ngIf="templates[col+'-header']">
                  <th mat-header-cell class="table-header" *matHeaderCellDef="let header" mat-sort-header>
                      <ng-template *ngTemplateOutlet="templates[col+'-header']; context: { $implicit: fields[i] }">
                      </ng-template>
                  </th>
              </ng-container>
              <ng-container *ngIf="!templates[col+'-header']">
                  <th mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header> {{fields[i].replace('.text', '').split('.').join(' ')}} </th>
              </ng-container>
              <ng-container *ngIf="templates[col]">
                  <td mat-cell class="table-cell-data" *matCellDef="let item">
                      <ng-template *ngTemplateOutlet="templates[col]; context: { $implicit: { 'row': item, 'col': fields[i] } }">
                      </ng-template>
                  </td>
              </ng-container>
              <ng-container *ngIf="!templates[col]">
                  <td mat-cell class="table-cell-data" *matCellDef="let item"> {{item[col]}} </td>
              </ng-container>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
          <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
      </table>
      <mat-paginator [length]="totalHits" [pageSize]="pageSize">
      </mat-paginator>
    </div>
    <div *ngIf="loading">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
</div>
  
  <ng-template #speciesTemplate let-item>
    <span>
      <a style="cursor: pointer" 
        href="{{'https://www.ebi.ac.uk/ols/terms?iri=' + item.row['species.ontologyTerms']}}" target="_blank">
        {{item.row['species.text']}}
      </a>
    </span>
  </ng-template>
  
  <ng-template #fileIdTemplate let-item>
    <span>
      <a style="cursor: pointer" target="_blank"
        [routerLink]="'/file/' + item.row['filename']">
        {{item.row['filename']}}
      </a>
    </span>
  </ng-template>
  
  <ng-template #specimenIdTemplate let-item>
    <span>
      <a style="cursor: pointer" target="_blank"
        [routerLink]="'/specimen/' + item.row['biosampleId']">
        {{item.row['biosampleId']}}
      </a>
    </span>
  </ng-template>