.page-footer {
  margin-top: 10px;
}

.mdb-color {
  background-color: #F7F7F7;
}

a {
  color: steelblue;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px; /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}


