<div class="container">
  <app-header></app-header>
  <h2>FAANG specimens</h2>

  <h3 class="col-md-10 offset-md-1" *ngIf="hasActiveFilters()">
    Active filters:
    <app-active-filter *ngIf="hasActiveFilters()"></app-active-filter>
    <button class="btn btn-light" type = "button" (click)="removeFilter()">Remove all filters</button>
  </h3>

  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Standard" [filterSize]=3></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Sex" [filterSize]=3></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Organism" [filterSize]=3></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Material" [filterSize]=3></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Organism part/Cell type" [filterSize]=3></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Breed" [filterSize]=3></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Paper published" [filterSize]=2></app-filter>
        </div>
      </div>
    </div>

    <div class="col-md-10 table-responsive">
      <button class="btn btn-success" (click)="onDownloadData()">Download data</button>
      <app-export [data]="data" [filename]="'faang_data'" [options]="optionsCsv" *ngIf="downloadData">
        Export as CSV file
      </app-export>
      <app-export [data]="data" [filename]="'faang_data'" [options]="optionsTabular" *ngIf="downloadData">
        Export as Tabular file
      </app-export>
      <app-table-server-side  [display_fields]="displayFields" 
            [column_names]="columnNames"
            [templates]="templates"
            [filter_values]="filter_field"
            [apiFunction]="loadTableDataFunction"
            [query]="query"
            [defaultSort]="defaultSort">
      </app-table-server-side>
    </div>
</div>

<ng-template #bioSampleIdTemplate let-item>
  <a style="cursor: pointer" [routerLink]="item">{{item}}</a>
</ng-template>

<ng-template #paperPublishedTemplate let-item>
  <td *ngIf="wasPublished(item)" [ngClass]="isGreen(item)">
    <i class="material-icons">check_circle_outline</i>
  </td>
  <td *ngIf="!wasPublished(item)" [ngClass]="isGreen(item)">
    <i class="material-icons">highlight_off</i>
  </td>
</ng-template>
