<div class="container">
<faang-navbar></faang-navbar>
<api-error></api-error>
<h2>FAANG specimens</h2>
<api-slow-response></api-slow-response>

<h3 class="col-md-10 col-md-offset-1 text-primary" *ngIf="hasActiveFilters()">
  Active filters:
  <active-filters routekey="sex" [aggs]="sexAggs" [isFiltered]="isSexFiltered"></active-filters>
  <active-filters routekey="organism" [aggs]="organismAggs" [isFiltered]="isOrganismFiltered"></active-filters>
  <active-filters routekey="organismPart" [aggs]="organismPartAggs" [isFiltered]="isOrganismPartFiltered"></active-filters>
  <active-filters routekey="breed" [aggs]="breedAggs" [isFiltered]="isBreedFiltered"></active-filters>
</h3>

<div class="row">
  <div class="col-md-2">
    <div class="row">
    <div class="col-md-12 col-sm-6 faang-filter">
      <faang-filter [filterSize]=2 title="Sex" routekey="sex" [aggs]="sexAggs" [isFiltered]="isSexFiltered"></faang-filter>
    </div>
    <div class="col-md-12 col-sm-6 faang-filter">
      <faang-filter [filterSize]=4 title="Organism" routekey="organism" [aggs]="organismAggs" [isFiltered]="isOrganismFiltered"></faang-filter>
    </div>
    <div class="col-md-12 col-sm-6 faang-filter">
      <faang-filter [filterSize]=4 title="Organism part" routekey="organismPart" [aggs]="organismPartAggs" [isFiltered]="isOrganismPartFiltered"></faang-filter>
    </div>
    <div class="col-md-12 col-sm-6 faang-filter">
      <faang-filter [filterSize]=4 title="Breed" routekey="breed" [aggs]="breedAggs" [isFiltered]="isBreedFiltered"></faang-filter>
    </div>
    </div>
  </div>

  <div class="fails-table col-md-10">
    <div class="pull-left "><button class="btn btn-default" type="button" (click)="tablePrevious()"
      *ngIf="specimenOffset">Previous</button></div>
    <div class="pull-right "><button class="btn btn-default" type="button" (click)="tableNext()"
      *ngIf="tableHasMore()">Next</button></div>
    <button *ngIf="notDefaultSort()" class="btn btn-default" type = "button" (click)="resetSort()">Reset sorting</button>
    <div class="clearfix"></div>

  <table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <!--for sort-element key attribute represents the property to sort on, [orders] retrieves the current sorting orders, (sort) event emitter sent the new order to the component to refresh the page-->
      <th><sort-element display="BioSample ID" key="biosampleId" [orders]="getSort()" (sort)="setSort($event)"></sort-element></th>
      <th><sort-element display="Organism part/Cell type" key="specimen.specimenFromOrganism.organismPart.text" [orders]="getSort()" (sort)="setSort($event)"></sort-element></th>
      <th><sort-element display="Sex" key="specimen.organism.sex.text" [orders]="getSort()"  (sort)="setSort($event)"></sort-element></th>
      <th><sort-element display="Organism" key="specimen.organism.organism.text" [orders]="getSort()" (sort)="setSort($event)"></sort-element></th>
      <th><sort-element display="Breed" key="specimen.organism.breed.text" [orders]="getSort()" (sort)="setSort($event)"></sort-element></th>
    </tr>
  </thead>
  <tbody><tr *ngFor="let specimen of specimenList?.hits.hits;"
    class="clickable" [routerLink]="[specimen?._source?.biosampleId]">
    <td><a>{{specimen?._source.biosampleId}}</a></td>
    <td>{{getCellType(specimen)}}</td>
    <td>{{specimen?._source?.organism?.sex[0]?.text}}</td>
    <td>{{specimen?._source?.organism?.organism[0]?.text}}</td>
    <td>{{specimen?._source?.organism?.breed[0]?.text}}</td>
  </tr></tbody>
  </table>

    <div class="clearfix"></div>
    <div class="pull-left "><button class="btn btn-default" type="button" (click)="tablePrevious()"
      *ngIf="specimenOffset">Previous</button></div>
    <div class="pull-right "><button class="btn btn-default" type="button" (click)="tableNext()"
      *ngIf="tableHasMore()">Next</button></div>
    <div class="clearfix"></div>
  </div>
</div>
