<div class="container">
<faang-navbar></faang-navbar>
<api-error></api-error>
<h1 class="text-center">{{biosampleId}}</h1>
<api-slow-response></api-slow-response>
<dl class="dl-horizontal">
  <dt>Name:</dt><dd>{{specimen?.name}}</dd>
  <dt>BioSample ID:</dt><dd><a href="http://www.ebi.ac.uk/biosamples/samples/{{specimen?.biosampleId}}">{{specimen?.biosampleId}}</a></dd>
  <dt>Release date:</dt><dd>{{specimen?.releaseDate}}</dd>
  <dt>Update date:</dt><dd>{{specimen?.updateDate}}</dd>
  <ng-container *ngIf="!specimen?.material?.text?.includes('pool of specimen')">
    <dt>Sex:</dt><dd>{{specimen?.organism?.sex?.text}}</dd>
    <dt>Organism BioSample Id:</dt><dd><a href="http://www.ebi.ac.uk/biosamples/samples/{{specimen?.organism?.biosampleId}}">{{specimen?.organism?.biosampleId}}</a></dd>
    <dt>Organism:</dt><dd>
      <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.organism?.organism?.ontologyTerms" [text]="specimen?.organism?.organism?.text"></robust-link>
    </dd>
    <dt>Breed:</dt><dd>
      <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.organism?.breed?.ontologyTerms" [text]="specimen?.organism?.breed?.text"></robust-link>
    </dd>
    <dt>Health status:</dt><dd>
      <ng-container *ngFor="let status of specimen?.organism?.healthStatus;">
        <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="status.ontologyTerms" [text]="status.text"></robust-link>
      </ng-container>
    </dd>
  </ng-container>
  <div *ngIf="specimen?.description">
    <dt>Description:</dt><dd>{{specimen?.description}}</dd>
  </div>
  <dt>Standard met:</dt><dd>{{specimen?.standardMet}}</dd>
  <dt>Project:</dt><dd>{{specimen?.project}}</dd>
  <div *ngIf="specimen?.availability">
    <dt>Availability:</dt><dd>{{specimen?.availability}}</dd>
  </div>
  <dt>Organisation:</dt><dd>
    <ng-container *ngFor="let organization of specimen?.organization;">
      <robust-link [link]="organization.URL" [text]="organization.name"></robust-link> ( {{organization.role}})
    </ng-container>
  </dd>
  <dt>Material:</dt><dd>
    <robust-link  prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.material?.ontologyTerms" [text]="specimen?.material?.text"></robust-link>
  </dd>
  <div *ngIf="specimen?.sameAs">
    <dt>Same as:</dt><dd>{{specimen?.sameAs}}</dd>
  </div>
  <dt>Derived from:</dt>
    <dd *ngIf="!specimen?.material?.text?.includes('pool of specimen')"><robust-link prefix="http://www.ebi.ac.uk/biosamples/samples/" [link]="specimen?.derivedFrom" [text]="specimen?.derivedFrom"></robust-link></dd>
    <dd *ngIf="specimen?.material?.text?.includes('pool of specimen')">
      <ng-container *ngFor="let derived of specimen?.derivedFrom;">
        <robust-link prefix="http://www.ebi.ac.uk/biosamples/samples/" [link]="derived" [text]="derived"></robust-link>
      </ng-container>
    </dd>
  
  <ng-container [ngSwitch]="specimen?.material?.text">
    <ng-template ngSwitchCase="specimen from organism">
      <dt>Specimen collection date:</dt><dd>{{specimen?.specimenFromOrganism?.specimenCollectionDate?.text}}</dd>
      <dt>Animal age at collection:</dt><dd>{{specimen?.specimenFromOrganism?.animalAgeAtCollection?.text}} {{specimen?.specimenFromOrganism?.animalAgeAtCollection?.unit}}</dd>
      <dt>Developmental stage:</dt><dd>
        <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.specimenFromOrganism?.developmentalStage?.ontologyTerms" [text]="specimen?.specimenFromOrganism?.developmentalStage?.text"></robust-link>
      </dd>
      <dt>Organism part:</dt><dd>
        <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.specimenFromOrganism?.organismPart?.ontologyTerms" [text]="specimen?.specimenFromOrganism?.organismPart?.text"></robust-link>
      </dd>
      <dt>Specimen collection protocol:</dt><dd>
        <robust-link [link]="specimen?.specimenFromOrganism?.specimenCollectionProtocol" [text]="specimen?.specimenFromOrganism?.specimenCollectionProtocol"></robust-link>
      </dd>
      <div *ngIf="specimen?.specimenFromOrganism?.fastedStatus">
        <dt>Fasted status:</dt><dd>{{specimen?.specimenFromOrganism?.fastedStatus}}</dd>
      </div>
      <div *ngIf="specimen?.specimenFromOrganism?.numberOfPieces?.text">
        <dt>Number of pieces:</dt><dd>{{specimen?.specimenFromOrganism?.numberOfPieces?.text}}</dd>
      </div>
      <div *ngIf="specimen?.specimenFromOrganism?.specimenVolume?.text">
        <dt>Specimen volume:</dt><dd>{{specimen?.specimenFromOrganism?.specimenVolume?.text}} {{specimen?.specimenFromOrganism?.specimenVolume?.unit}}</dd>
      </div>
      <div *ngIf="specimen?.specimenFromOrganism?.specimenSize?.text">
        <dt>Specimen size:</dt><dd>{{specimen?.specimenFromOrganism?.specimenSize?.text}} {{specimen?.specimenFromOrganism?.specimenSize?.unit}}</dd>
      </div>
      <div *ngIf="specimen?.specimenFromOrganism?.specimenWeight?.text">
        <dt>Specimen weight:</dt><dd>{{specimen?.specimenFromOrganism?.specimenWeight?.text}} {{specimen?.specimenFromOrganism?.specimenWeight?.unit}}</dd>
      </div>
      <div *ngIf="specimen?.specimenFromOrganism?.specimenPictureUrl">
        <dt>Specimen picture URL:</dt><dd>
          <robust-link [link]="specimen?.specimenFromOrganism?.specimenPictureUrl" [text]="specimen?.specimenFromOrganism?.specimenPictureUrl"></robust-link>
        </dd>
      </div>
      <div *ngIf="specimen?.specimenFromOrganism?.gestationalAgeAtSampleCollection?.text">
        <dt>Gestational age at sample collection:</dt><dd>{{specimen?.specimenFromOrganism?.gestationalAgeAtSampleCollection?.text}} {{specimen?.specimenFromOrganism?.gestationalAgeAtSampleCollection?.unit}}</dd>
      </div>
    </ng-template>
    <ng-template ngSwitchCase="cell specimen">
      <div *ngIf="specimen?.cellSpecimen?.markers">
        <dt>Specimen volume:</dt><dd>{{specimen?.cellSpecimen?.markers}}</dd>
      </div>
      <dt>Cell type:</dt><dd>
        <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.cellSpecimen?.cellType?.ontologyTerms" [text]="specimen?.cellSpecimen?.cellType?.text"></robust-link>
      </dd>
      <dt>Purification protocol:</dt><dd>
        <robust-link [link]="specimen?.cellSpecimen?.purificationProtocol" [text]="specimen?.cellSpecimen?.purificationProtocol"></robust-link>
      </dd>
    </ng-template>
    <ng-template ngSwitchCase="pool of specimens">
      <dt>Pool creation date:</dt><dd>{{specimen.poolOfSpecimens.poolCreationDate.text}}</dd>
      <dt>Pool creation protocol:</dt><dd><robust-link [link]="specimen.poolOfSpecimens.poolCreationProtocol" [text]="specimen.poolOfSpecimens.poolCreationProtocol"></robust-link></dd>
      <div *ngIf="specimen?.poolOfSpecimens?.specimenVolume?.text">
        <dt>Specimen volume:</dt><dd>{{specimen.poolOfSpecimens.specimenVolume.text}} {{specimen.poolOfSpecimens.specimenVolume.unit}}</dd>
      </div>
      <div *ngIf="specimen?.poolOfSpecimens?.specimenSize?.text">
        <dt>Specimen size:</dt><dd>{{specimen.poolOfSpecimens.specimenSize.text}} {{specimen.poolOfSpecimens.specimenSize.unit}}</dd>
      </div>
      <div *ngIf="specimen?.poolOfSpecimens?.specimenWeight?.text">
        <dt>Specimen weight:</dt><dd>{{specimen.poolOfSpecimens.specimenWeight.text}} {{specimen.poolOfSpecimens.specimenWeight.unit}}</dd>
      </div>
      <div *ngIf="specimen?.poolOfSpecimens?.specimenPictureUrl">
        <dt>Specimen picture URL:</dt><dd>
          <robust-link [link]="specimen.poolOfSpecimens.specimenPictureUrl" [text]="specimen.poolOfSpecimens.specimenPictureUrl"></robust-link>
        </dd>
      </div>
    </ng-template>
    <ng-template ngSwitchCase="cell culture">
      <dt>Culture type:</dt><dd>
        <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.cellCulture?.cultureType?.ontologyTerms" [text]="specimen?.cellCulture?.cultureType?.text"></robust-link>
      </dd>
      <dt>Cell type:</dt><dd>
        <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.cellCulture?.cellType?.ontologyTerms" [text]="specimen?.cellCulture?.cellType?.text"></robust-link>
      </dd>
      <dt>Cell culture protocol:</dt><dd>
        <robust-link [link]="specimen?.cellCulture?.cellCultureProtocol" [text]="specimen?.cellCulture?.cellCultureProtocol"></robust-link>
      </dd>
      <dt>Culture conditions:</dt><dd>{{specimen?.cellCulture?.cultureConditions}}</dd>
      <dt>Number of passages:</dt><dd>{{specimen?.cellCulture?.numberOfPassages}}</dd>
    </ng-template>
    <ng-template ngSwitchCase="cell line">
      <dt>Cell line:</dt><dd>{{specimen?.cellLine?.cellLine}}</dd>
      <dt>Sex</dt><dd>{{specimen?.cellLine?.sex[0]?.text}}</dd>
      <dt>Organism</dt><dd>
        <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.cellLine?.organism?.ontologyTerms" [text]="specimen?.cellLine?.organism[0]?.text"></robust-link>
      </dd>
      <dt>Biomaterial provider:</dt><dd>{{specimen?.cellLine?.biomaterialProvider}}</dd>
      <div *ngIf="specimen?.cellLine?.catalogueNumber">
      <dt>Catalogue number:</dt><dd>{{specimen?.cellLine?.catalogueNumber}}</dd>
      </div>
      <div *ngIf="specimen?.cellLine?.passageNumber">
        <dt>Passage number:</dt><dd>{{specimen?.cellLine?.passageNumber}}</dd>
      </div>
      <dt>Date established:</dt><dd>{{specimen?.cellLine?.publication}}</dd>
      <dt>Publication:</dt><dd>{{specimen?.cellLine?.publication}}</dd>
      <dt>Breed</dt><dd>
        <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.cellLine?.breed[0]?.ontologyTerms" [text]="specimen?.cellLine?.breed[0]?.text"></robust-link>
      </dd>
      <dt>Cell type</dt><dd>
        <robust-link prefix="https://www.ebi.ac.uk/ols/terms?iri=" [link]="specimen?.cellLine?.cellType?.ontologyTerms" [text]="specimen?.cellLine?.cellType?.text"></robust-link>
      </dd>
      <dt>Culture conditions:</dt><dd>{{specimen?.cellLine?.cultureConditions}}</dd>
      <dt>Culture protocol</dt><dd>
        <robust-link [link]="specimen?.cellLine?.cultureProtocol" [text]="specimen?.cellLine?.cultureProtocol"></robust-link>
      </dd>
      <dt>Karyotype:</dt><dd>{{specimen?.cellLine?.karyotype}}</dd>
    </ng-template>
    <ng-template ngSwitchDefault>Unrecgonizable specimen type</ng-template>
  </ng-container>



</dl>
<specimen-files [biosampleId]="biosampleId"></specimen-files>
</div>


