<div *ngIf="fileList?.hits.total > 0">
<h3>Files</h3>

<div class="fails-table center-block">
  <div class="pull-left "><button class="btn btn-default" type="button" (click)="tablePrevious()"
    *ngIf="fileOffset">Previous</button></div>
  <div class="pull-right "><button class="btn btn-default" type="button" (click)="tableNext()"
    *ngIf="tableHasMore()">Next</button></div>
  <div class="clearfix"></div>

<table class="table table-striped table-hover table-responsive">
<thead><tr>
  <th>Name</th><th>Archive</th><th>Data type</th><th>Download</th>
</tr></thead>
<tbody><ng-container *ngFor="let hit of fileList?.hits.hits;">
<tr *ngFor="let file of hit?._source.files;">
<td>{{file?.name}}</td>
<td>{{file?.archive}}</td>
<td>{{file?.dataType}}</td>
<td><a href="{{file?.url}}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
</tr></ng-container></tbody>
</table>

  <div class="clearfix"></div>
  <div class="pull-left "><button class="btn btn-default" type="button" (click)="tablePrevious()"
    *ngIf="fileOffset">Previous</button></div>
  <div class="pull-right "><button class="btn btn-default" type="button" (click)="tableNext()"
    *ngIf="tableHasMore()">Next</button></div>
  <div class="clearfix"></div>
</div>
