<div class="container">
  <app-header></app-header>
  <h2>FAANG specimens</h2>

  <h3 class="col-md-10 col-md-offset-1 text-primary" *ngIf="hasActiveFilters()">
    Active filters:
    <app-active-filter *ngIf="hasActiveFilters()"></app-active-filter>
    <button class="btn btn-default" type = "button" (click)="removeFilter()">Remove all filters</button>
  </h3>

  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Standard" [filterSize]=3></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Sex" [filterSize]=3></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Organism" [filterSize]=4></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Material" [filterSize]=4></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Organism part/Cell type" [filterSize]=4></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Breed" [filterSize]=4></app-filter>
        </div>
        <div class="col-md-12 col-sm-6 faang-filter">
          <app-filter title="Paper published" [filterSize]=2></app-filter>
        </div>
      </div>
    </div>

    <div class="fails-table col-md-10">
      <div *ngIf="(specimenListLong | async) as specimens; else loading">
        <button class="btn btn-success" (click)="onDownloadData()">Dowload data</button>
        <app-export [data]="data" [filename]="'faang_data'" [options]="optionsCsv" *ngIf="downloadData">
          Export as CSV file
        </app-export>
        <app-export [data]="data" [filename]="'faang_data'" [options]="optionsTabular" *ngIf="downloadData">
          Export as Tabular file
        </app-export>
        <table class="table table-striped table-hover table-responsive">
          <thead>
          <tr>
            <th *ngFor="let column of columnNames" style="cursor: pointer" (click)="onTableClick($event)" [id]="column">
              {{ column }}
              <span [ngClass]="column === selectedColumn ? spanClass : defaultClass" *ngIf="column !== 'Standard' &&
              column !== 'Paper published'" [id]="column"></span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let specimen of specimens | sort: sort_field | filter: filter_field: 'specimen' | paginate: { itemsPerPage: 30, currentPage: p }">
            <td><a style="cursor: pointer" [routerLink]="specimen['bioSampleId']">{{specimen['bioSampleId']}}</a></td>
            <td>{{specimen['material']}}</td>
            <td>{{specimen['organismpart_celltype']}}</td>
            <td>{{specimen['sex']}}</td>
            <td>{{specimen['organism']}}</td>
            <td>{{specimen['breed']}}</td>
            <td>{{specimen['standard']}}</td>
            <td *ngIf="wasPublished(specimen['paperPublished'])" [ngClass]="isGreen(specimen['paperPublished'])">
              <span class="glyphicon glyphicon-ok-circle"></span>
            </td>
            <td *ngIf="!wasPublished(specimen['paperPublished'])" [ngClass]="isGreen(specimen['paperPublished'])">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <ng-template #loading>
        <div>
          Loading...
        </div>
        <table class="table table-striped table-hover table-responsive">
          <thead>
          <tr>
            <th *ngFor="let column of columnNames">
              {{ column }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let specimen of specimenListShort">
            <td><a style="cursor: pointer" [routerLink]="specimen['bioSampleId']">{{specimen['bioSampleId']}}</a></td>
            <td>{{specimen['material']}}</td>
            <td>{{specimen['organismpart_celltype']}}</td>
            <td>{{specimen['sex']}}</td>
            <td>{{specimen['organism']}}</td>
            <td>{{specimen['breed']}}</td>
            <td>{{specimen['standard']}}</td>
            <td *ngIf="wasPublished(specimen['paperPublished'])" [ngClass]="isGreen(specimen['paperPublished'])">
              <span class="glyphicon glyphicon-ok-circle"></span>
            </td>
            <td *ngIf="!wasPublished(specimen['paperPublished'])" [ngClass]="isGreen(specimen['paperPublished'])">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </td>
          </tr>
          </tbody>
        </table>
        <div>
          Loading...
        </div>
      </ng-template>
      <div class="alert alert-danger" *ngIf="error"><p>{{ error }}</p></div>
    </div>
  </div>
</div>
