<div class="container">
<faang-navbar></faang-navbar>
<h2>Frequent Asked Questions:</h2>
<details>
  <summary><h4>How do I get involved with FAANG project?</h4></summary>
  Please first register at <a href="https://www.faang.org/">the FAANG website</a> and start from there.
</details>
<details>
  <summary><h4>What is this data portal for?</h4></summary>
We are the FAANG Data Coordination Centre (DCC) who accepts the data submission from the FAANG community. This data portal provides an easy-to-use interface to access those submitted data</details>
<details>
  <summary><h4>How to submit data to FAANG data portal?</h4></summary>
  It is a not-so-easy-but-managable process and we have developed a dedicated wiki-like <a href="https://www.ebi.ac.uk/seqdb/confluence/display/FAANG/FAANG+Archive+Submission+guidelines">web page</a> to guide you through the submission.
</details>
<details>
  <summary><h4>How to access FAANG data?</h4></summary>
  We provide two ways of accessing the data: one is through this data portal, the other is through APIs to access programmatically. More details can be found <a href="/help/api">here</a>.
</details>
<details>
  <summary><h4>Is there a way to access data programmatically?</h4></summary>
  Certainly. We provide APIs to access data programmatically. The details can be found <a href="/help/api">here</a>.
</details>
<details>
  <summary><h4>I still have questions which are not listed here, what shall I do?</h4></summary>
  Please <a href="mailto:faang-dcc@ebi.ac.uk">contact FAANG DCC</a> and we welcome any type of questions.
</details>

</div>